<%= form_for(@question) do |f| %>
<% if @question.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

  <ul>
    <% @question.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget media margin-none bg-gray ">
      <a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-question fa-5x"></i></a>
      <div class="media-body innerAll">
      <h4 class="media-heading innerT"> Gerenciar Perguntas</h4>                     
        <p>Identifique as Perguntas do PPA</p>
      </div>
      <div class="widget-body bg-white">
        <div class="field">
          <%= f.label :title, "Título" %>
          <%= f.text_field :title, class:"form-control" %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.label :limit, "Limite de Respostas" %>
          <%= f.number_field :limit, class:"form-control" %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.label :all_replies, "Exibir Todas as Respostas" %>
          <%= f.check_box :all_replies  %>
        </div>
        <div class="field">
          <%= f.text_area :description, class:"form-control", placeholder: "Descreva em poucas palavras...", rows:5%>
          <p>&nbsp;</p>
        </div>
        <div class="col-md-12 innerAll inner-2x">   
          <%= f.submit "Salvar Pergunta", class:"btn btn-lg btn-success btn-block" %>  
        </div>
      </div>  
    </div>
  </div>
</div>
<p>&nbsp;</p>
<% end %>
