<div class="widget">
    <div class="widget-head">
            <h4 class="heading">Para Todos os Temas</h4>
    </div>
    <div class="widget-body innerAll">
        <div class="widget-body padding-none">
            <ul class="list-group list-group-1 margin-none borders-none">
                <% Reply.where(question:question, subtheme:nil).each do |reply|  %>
                <li class="list-group-item border-top-none">
                    <%= link_to edit_reply_path(reply) do  %>
                        <% if reply.default  %>                        
                            <span class="badge pull-right bg-primary ">norteadora</span>
                        <% else %>
                            <span class="badge pull-right bg-success ">sociedade</span>
                        <% end %>
                        <i class="fa fa-question-circle"></i>&nbsp;
                        <%= reply %>
                    <% end %>
                </li>
                <% end %>
                <li class="list-group-item border-top-none active">
                    <%= link_to new_reply_path(question:question.id, remote: true), remote:true, class:"no-ajaxify" do  %>
                       <i class="fa fa-plus"></i>&nbsp;
                        Novo Desafio
                    <% end %>
                </li>
            </ul>
        </div>
    </div>    
</div>

<% themes.each do |theme| %>
	<div class="widget">
		<div class="widget-head">
			<h4 class="heading"><%= theme  %></h4>
		</div>
		<div class="widget-body innerAll">
			<% theme.subthemes.each do |subtheme| %>
				<div class="widget-body padding-none">
                    <h5 class="innerAll bg-gray text-info strong margin-bottom-none">
                    	<%= subtheme %>
                    </h5>
                    <ul class="list-group list-group-1 margin-none borders-none">
						<% Reply.by_theme_question(subtheme, question).each do |reply|  %>
                        <li class="list-group-item border-top-none">
                            <%= link_to edit_reply_path(reply) do  %>
                                <% if reply.default  %>                        
                                <span class="badge pull-right bg-primary ">norteadora</span>
                                <% else %>
                                    <span class="badge pull-right bg-success ">sociedade</span>
                                <% end %>
                                <i class="fa fa-question-circle"></i>&nbsp;
                                <%= reply %>
                            <% end %>
                        </li>
                        <% end %>
                        <li class="list-group-item border-top-none active">
                            <%= link_to new_reply_path(question:question.id, subtheme:subtheme.id, remote: true), remote:true, class:"no-ajaxify" do  %>
                               <i class="fa fa-plus"></i>&nbsp;
                               	Novo Desafio para o Programa
                            <% end %>
                        </li>
                    </ul>
                </div>
                <p>&nbsp;</p>
            <% end %>
        </div>          
    </div>
<% end %>