<%= content_for :botao_add do  %>
  <%= link_to "Editar", edit_question_path(@question), class:"btn btn-info" %>
<% end %>
<div class="col-md-8 col-md-offset-2">
	<div class="widget media margin-none bg-gray ">
		<a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-question fa-5x"></i></a>
		<div class="media-body innerAll">
			<h4 class="media-heading innerT"> <%= @question.title %></h4>
			<p><%= @question.limit %> desafios.</p>
		</div>

		<div class="widget-body bg-white innerAsll inner-2x center">
			<p><%= @question.description %></p>
		</div>
	</div>
	<p>&nbsp;</p>
	<div id="replies">
		<%= render partial:'replies', locals:{question:@question, themes:@themes} %>
	</div>
</div>
