<%= form_for(@user, url:url_for(params)) do |f| %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="widget media margin-none bg-gray ">
			<a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-user-2 fa-5x"></i></a>
			<div class="media-body innerAll">
				<h4 class="media-heading innerT"> Cadastro</h4>                     
				<p>Informe seus dados</p>
			</div>
			<div class="widget-body bg-white">
				<div class="field">
					<%= f.label :cpf %><br>
					<%= f.number_field :cpf , class:"form-control" %>
				</div>
				<div class="field">
					<%= f.label :name %><br>
					<%= f.text_field :name , class:"form-control" %>
				</div>
				<div class="field">
					<%= f.label :email %><br>
					<%= f.email_field :email , class:"form-control" %>
				</div>
				<div class="field">
					Senha<br>
					<%= f.password_field :password, class:"form-control" %>
				</div>
				<div class="field">
					Confirmação<br>
					<%= f.password_field :password_confirmation, class:"form-control" %>
				</div>
				<div class="col-md-12 innerAll inner-2x">   
					<%= submit_tag  "Cadastrar", class:"btn btn-lg btn-success btn-block" %>  
				</div>
			</div>  
		</div>
	</div>
</div>

<% end %>