<%= form_tag(url_for(params), method: :get) do %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget media margin-none bg-gray ">
      <a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-settings-wheel-fill fa-5x"></i></a>
      <div class="media-body innerAll">
        <h4 class="media-heading innerT"> Token</h4>                     
        <p>Informe o seu Token</p>
      </div>
      <div class="widget-body bg-white">
        <div class="field">
          <%= text_field_tag :token, nil, class:"form-control"  %>
          <p>&nbsp;</p>
        </div>
        <div class="col-md-12 innerAll inner-2x">   
          <%= submit_tag  "Cadastrar", class:"btn btn-lg btn-success btn-block" %>  
        </div>
      </div>  
    </div>
  </div>
</div>
<p>&nbsp;</p>
<% end %>