<%= form_for(@reply_deed, remote: true) do |f| %>
  <% if @reply_deed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply_deed.errors.count, "error") %> prohibited this reply_deed from being saved:</h2>

      <ul>
      <% @reply_deed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if params[:tipo] == "personalizada" %>
    <% @reply_deed.deed = Deed.new  %>
    <%= f.fields_for :deed do |b| %>
        <%= b.text_field :name, class:"well bg-white  strong text-center", style:"width:100%;font-size:15px;", placeholder:"Nome da Ação" %>
        <%= b.text_area :description, class:"well bg-white  strong text-center", style:"width:100%;font-size:15px;", placeholder:"Descrição da Resposta",  maxlength:"255"%>
    <% end %>
  <% else %>
    <%= f.text_field :deed_id, class:"well bg-white  strong text-center", style:"width:100%;font-size:15px;", placeholder:"Código da Ação" %>
  <% end %>
    <%= hidden_field_tag :index, params[:index] %>
    <%= f.hidden_field :vote_id,  value: params[:vote_id]%>
    <%= f.submit "Inserir Ação", class:"btn btn-lg btn-success btn-block" %>
<% end %>
