$("#modal").modal('hide');
swal("Ok!", "Voto Removido com Sucesso", "success");
$("#replies_question_<%= @reply_deed.vote.reply.question.id  %>").html("<%= escape_javascript(render partial:'home/event_results', locals:{event:@reply_deed.vote.event, theme:@reply_deed.vote.theme, question:@reply_deed.vote.reply.question}) %>")