<h1>Listing reply_deeds</h1>

<table>
  <thead>
    <tr>
      <th>Reply</th>
      <th>Deed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reply_deeds.each do |reply_deed| %>
      <tr>
        <td><%= reply_deed.reply %></td>
        <td><%= reply_deed.deed %></td>
        <td><%= link_to 'Show', reply_deed %></td>
        <td><%= link_to 'Edit', edit_reply_deed_path(reply_deed) %></td>
        <td><%= link_to 'Destroy', reply_deed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reply deed', new_reply_deed_path %>
