<p id="notice"><%= notice %></p>

<p>
  <strong>Reply:</strong>
  <%= @reply_deed.reply %>
</p>

<p>
  <strong>Deed:</strong>
  <%= @reply_deed.deed %>
</p>

<%= link_to 'Edit', edit_reply_deed_path(@reply_deed) %> |
<%= link_to 'Back', reply_deeds_path %>
