<%= form_for(@reply, remote: params[:remote] == "true") do |f| %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% @reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :title, class:"well bg-white text-danger strong text-center", style:"width:100%;font-size:15px;", placeholder:"Título da Resposta" %>
  <h4 class="text-muted strong">Pergunta</h4>
  <%= f.select :question_id, @questions, {selected: params[:question]}, {class:"well bg-white strong text-center", style:"width:100%;font-size:15px;"} %>
  <h4 class="text-muted strong">Programa</h4>
  <%= f.select :subtheme_id, @subthemes, {selected: params[:subtheme], include_blank: true}, {class:"well bg-white strong text-center", style:"width:100%;font-size:15px;"} %>
  <%= f.text_area :description, class:"well bg-white text-danger strong text-center", style:"width:100%;font-size:15px;", placeholder:"Descreva a resposta ...", rows: 5 %>
  <%= f.check_box :default, class:"pull-left" %>
    <h4>&nbsp;Este é Desafio Padrão?</h4>
  <div class="actions">
    <p>&nbsp;</p>
    <%= f.submit "Cadastrar Desafio", class:"btn btn-lg btn-success btn-block" %>
  </div>
<% end %>
