$("#modal").modal('hide')
swal("Ok!", "Resposta cadastrada com sucesso!", "success")
$("#replies").html("<%= escape_javascript(render partial:'questions/replies', locals:{question:@reply.question, themes:Theme.all})%>")