<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reply.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reply.description %>
</p>

<p>
  <strong>Question:</strong>
  <%= @reply.question %>
</p>

<p>
  <strong>Default:</strong>
  <%= @reply.default %>
</p>

<p>
  <strong>Subtheme:</strong>
  <%= @reply.subtheme %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
