<style type="text/css">
    .inputor {
      height: 160px;
      width: 90%;
      border: 1px solid #dadada;
      border-radius: 4px;
      padding: 5px 8px;
      outline: 0 none;
      margin: 10px 0;
      background: white;
      font-size: inherit;
      overflow-y: scroll;
    }
</style>
<%= form_for(@comment, remote:true) do |f| %>
<% if @comment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

  <ul>
    <% @comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.hidden_field :question_id, value: params[:question_id] %>
<%= f.hidden_field :theme_id, value: params[:theme_id] %>
<%= f.hidden_field :event_id, value: params[:event_id] %>


<%#= f.select :type, Comment.tipo.options, {selected: params[:type]}, {class:"well bg-white strong text-center", style:"width:100%;font-size:15px; display:none"} %>
  <%= f.select :tipo, [["Tema","tema"], ["Início","inicio"], ["Fim","fim"]], {selected: params[:tipo]}, {class:"well bg-white strong text-center", style:"width:100%;font-size:15px; display:none"} %>
<%= f.text_area :text, class:"well bg-white  strong text-center inputor", style:"width:100%;font-size:15px;", placeholder:"Insira aqui o Comentário...", rows:5 ,id:"input"%>
</div>
<div class="actions">
  <% if params[:moderador] == "true" %>
  <%= hidden_field_tag :form_type, :moderador %>

  <%= f.submit "Enviar ao Redator", class:"btn btn-lg btn-success btn-block" %>
  <% else %>
  <%= f.submit "Inserir Comentário", class:"btn btn-lg btn-success btn-block" %>
  <% end %>
</div>
<% end %>

<script type="text/javascript">
  // $(function(){
  //    data = <%= raw Event.find(params[:event_id]).people.pluck(:name).compact.to_json %>;
  //    $('textarea').atwho({at:"@", 'data':data});
  //});

var names = <%= raw Event.find(params[:event_id]).people.distinct.map{|p| {name: p.name, function: p.function, city: p.city.name, cpf: p.cpf}}.to_json
 %>;

var at_config = {
  at: "@",
  data: names,
  tpl: "<li data-value='@${name}'>${name} <small>${cpf}</small></li>",
  show_the_at: true,
  insertTpl: '${name} (${function} | ${city}) ',
  callbacks: {
    matcher: function(flag, subtext, should_start_with_space) {
      var match, regexp;

      flag = flag.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");

      if (should_start_with_space) {
        flag = '(?:^|\\s)' + flag;
      }

      regexp = new RegExp(flag + '([A-Za-z0-9_\\s\+\-\]*)$|' + flag + '([^\\x00-\\xff]*)$', 'gi');
      match = regexp.exec(subtext.replace(/\s/g, " "));
      if (match) {
        return match[2] || match[1];
      } else {
        return null;
      }
    }
  }
}

$('textarea').atwho(at_config)


</script>

