<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @comment.question %>
</p>


<p>
  <strong>Event:</strong>
  <%= link_to @comment.event.name, @comment.event %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Type:</strong>
  <%= @comment.tipo %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
