<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>
  <% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget media margin-none bg-gray ">
      <a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-user-2 fa-5x"></i></a>
      <div class="media-body innerAll">
        <h4 class="media-heading innerT"> Gerenciar Pessoa</h4>                     
        <p>Gerenciamento de Participantes</p>
      </div>
      <div class="widget-body bg-white">
        
        <div class="col-md-6">
          <div class="field">
            <%= f.label :name, "Nome" %>
            <%= f.text_field :name, class:"form-control" %>
            <p>&nbsp;</p>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="field">
            <%= f.label :cpf, "CPF" %>
            <%= f.text_field :cpf, class:"form-control" %>
            <p>&nbsp;</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="field">
            <%= f.label :mothername, "Nome da Mãe" %>
            <%= f.text_field :mothername, class:"form-control" %>
            <p>&nbsp;</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="field">
            <%= f.label :company, "Empresa/Órgão" %>
            <%= f.text_field :company, class:"form-control" %>
            <p>&nbsp;</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="field">
            <%= f.label :phone, "Telefone" %>
            <%= f.text_field :phone, class:"form-control" %>
            <p>&nbsp;</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="field">
            <%= f.label :email, "E-mail" %>
            <%= f.text_field :email, class:"form-control" %>
            <p>&nbsp;</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="field">
            <%= f.label :function, "Função" %>
            <%= f.text_field :function, class:"form-control" %>
            <p>&nbsp;</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="field">
            <%= f.label :birthdate, "Data de Aniversário" %>
            <%= f.date_field :birthdate, class:"form-control" %>
            <p>&nbsp;</p>
          </div>
        </div>

        <!-- <div class="col-md-6">
          <div class="field">
            <%#= f.label :sex, "Sexo" %>
            <%#= f.text_field :sex, class:"form-control" %>
            <p>&nbsp;</p>
          </div>
        </div> -->

        <div class="col-md-6">
          <div class="field">
            <%= f.label :category, "Vinculo" %>
            <%= f.text_field :category, class:"form-control" %>
            <p>&nbsp;</p>
          </div>
        </div>

        <div class="col-md-12 innerAll inner-2x">
          <%= f.submit "Salvar Participante", class:"btn btn-lg btn-success btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
<p>&nbsp;</p>
<% end %>