<div class="col-md-8 col-md-offset-2">
  <div class="widget innerAll inner-2x center">
    <h1><%= @person  %></h1>
  </div>
  <div class="widget-body">
    <table class="table table-condensed table-striped table-primary table-vertical-center checkboxs">
      <thead>
        <th>Evento</th>
        <th class="col-md-5">Ações</th>
      </thead>  
      <tbody>
        <% @person.entries.each do |entry| %>
          <tr>
            <td><%= entry.event.name  %> - <%= entry.theme %></td> 
            <td>
              <%= link_to "Imprimir", print_entry_path(entry), class:"btn btn-info btn-sm no-ajaxify", remote: true%>
              <%= link_to "Certificado", certificado_entry_path(entry), class:"btn btn-info btn-sm no-ajaxify"%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>