<table>
	<tr>
		<% if entry.lunch %>
		<td style="width:5%">
			<h1>A</h1>
		</td>
		<% end %>
		<td>
			<h3 style="margin:none; padding:none; display:inline">
				<%= entry.person  %>
			</h3>
			<h3 style="margin:none; padding:none; display:inline">
				 - <i><%= entry.person.city.name.split(" ")[0] %> </i>
			</h3><br>
			<strong style="margin:none; padding:none; display:inline">
			<%= entry.theme.name %> |
			<%= entry.event.date %>
			</strong>			
		</td>
	</tr>
</table>