<%= form_for(@entry, remote:true) do |f| %>
    <%# binding.pry %>
    <% if @entry.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

          <ul>
            <% @entry.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.hidden_field :person_id  %>

    <%= f.fields_for :person do |person|%>
        <% if  person.object.new_record? %>
            <div class="alert alert-danger">
              O CPF <%= params[:cpf]  %> não é válido ou não pôde ser consultado. Verifique o número ou cadastre o participante sem esse dado.
            </div>
            <%= person.text_field :cpf, value: params[:cpf], class:"well bg-white text-danger strong text-center", style:"width:100%;font-size:15px;", placeholder:"CPF do Participante" %>
            <%= person.text_field :name, class:"well bg-white text-danger strong text-center", style:"width:100%;font-size:15px;", placeholder:"Nome do Participante" %>
            <div class="row">
              <div class="col-md-12 date bg-white strong text_center">
                <%= person.label :mothername, "Nome da Mãe"%>
                <%= person.text_field :mothername, class:"form-control" %>
              </div>
              <div class="col-md-12 date bg-white strong text_center">
                <%= person.label :birthdate, "Data de Nascimento"%>
                <%= person.date_field :birthdate, class:"form-control" %>
              </div>
            </div>

        <% else %>
            <div class="widget media margin-none">
              <a class="pull-left bg-info innerAll text-center text-white" href="#"><i class="fa fa-fw icon-user-2 fa-3x"></i></a>
              <div class="media-body innerAll text-center text-inverse">
                <strong><%= person.object.name  %></strong> <br>
                <%= person.object.cpf %>
              </div>
            </div>
            <p>&nbsp;</p>
        <% end %>
        <div class="row">
          <div class="col-md-6">
            <%= person.text_field :email, class:"well bg-white text-danger strong text-center", style:"width:100%;font-size:15px;", placeholder:"E-mail" %>
          </div>
          <div class="col-md-6">
            <%= person.number_field :phone, class:"well bg-white text-danger strong text-center", style:"width:100%;font-size:15px;", placeholder:"Telefone" %>
          </div>
          <div class="col-md-6">
            <%= person.text_field :function, class:"well bg-white text-danger strong text-center", style:"width:100%;font-size:15px;", placeholder:"Cargo do Participante" %>
          </div>
          <div class="col-md-6">
            <%#= person.select :category, Person.category.options , {}, {class:"well bg-white strong text-center", style:"width:100%;font-size:15px;"} %>
            <%= person.select :category, [["Sociedade Civil Organizada","sociedade_civil_organizada"], ["Poder Público","poder_publico"], ["Convidados","convidados"], ["Outros","outros"]] , {}, {class:"well bg-white strong text-center", style:"width:100%;font-size:15px;"} %>
          </div>
        </div>

        <div class="well bg-white strong text-center field">
          <%= person.select :city_id, @cities , {}, {class:"select2_1", style:"width:100%;font-size:15px;"} %>
        </div>

        <div class="field">
          <%= person.text_field :company, class:"well bg-white text-danger strong text-center", style:"width:100%;font-size:15px;", placeholder:"Empresa" %>
        </div>
    <% end %>

    <div class="field">
      <%= f.select :event_id, @events , {}, {class:"well bg-white strong text-center", style:"width:100%;font-size:15px;"} %>
      <%= f.select :theme_id, @themes , {}, {class:"well bg-white strong text-center", style:"width:100%;font-size:15px;"} %>
    </div>
    <div class="field">
      <%= f.text_field :tags, class:"well bg-white text-danger strong text-center", style:"width:100%;font-size:15px;", placeholder:"Tags", autocomplete: 'off' %>
    </div>

    <div class="widget">
      <div class="widget-body innerAll inner-2x center">
        <h3>O Participante deseja deseja almoçar no evento?</h3>
        <div class="make-switch" data-on="success" data-off="danger">
          <%= f.check_box :lunch, checked:true %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Credenciar Participante", class:"btn btn-lg btn-success btn-block" %>
    </div>
<% end %>
<script src="/mosaicpro/components/common/forms/elements/bootstrap-switch/assets/lib/js/bootstrap-switch.js?v=v1.0.3-rc2"></script>
<script src="/mosaicpro/components/common/forms/elements/bootstrap-switch/assets/custom/js/bootstrap-switch.init.js?v=v1.0.3-rc2"></script>
<script src="/mosaicpro/components/common/forms/elements/select2/assets/custom/js/select2.init.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>