<p>&nbsp;</p><p>&nbsp;</p>
<div class="center">
	<img src="/logo.png" width="200px">
</div>
<p>&nbsp;</p>
<div class="box-generic innerAll inner-2x">
<h1 class="center">Certificado</h1>
<p>&nbsp;</p>
<h2>Certificamos que <strong><%= @entry.person  %></strong> participou em <strong><%= @entry.event.place  %></strong> da Consulta Pública do PPA 2020 - 2023, Planejamento mais Perto de Você, no dia <strong><%= @entry.event.date  %></strong></h2>
<p>&nbsp;</p>
<h2 class="center">Governo do Estado do Tocantins </h2>
</div>
<div class="box-generic innerAll">
<p>Emitido em <%= DateTime.now  %>, Nº <%= @entry.id  %></p>
</div>
