<link rel="stylesheet" href="/mosaicpro/css/admin/module.admin.stylesheet-complete.sidebar_type.no-sidebar.min.css"
/>
<script src="/qrcode/qrcode.js"></script>
<h2 class="center" style="margin-top:50px"><%= @entry.person %></h2>
<hr style="border-color:#000; border-width:3px;"></hr>
<br>
<h3 class="center"><b><%= @entry.theme.name %></b></h3>
<table class="col-xs-12 center	">
	<tr>
		<%# <td style="col-md-2">			 %>
			<%# <i class="fa fa-5x fa-fw <#%= @entry.theme.icon "></i> %>
		<%# </td> %>
		<td class="center col-md-10" style="vertical-align:center;">
			<strong><%= @entry.tags %></strong><br>
			<%# if @entry.lunch %>
				<%# <strong><i class="fa icon-fork-knife"></i> Almoço</strong> %>
			<%# end %>
		</td>
	</tr>
</table>
<div class="clearfix"></div>
<div class="btn btn-primary hidden-print" onclick="window.print()">Imprimir</div>
<hr style="border-color:#000; border-width:3px;"></hr>
<h3 class="center"><%= @entry.person.city %></h3>