<%= nested_form_for(@theme) do |f| %>
<% if @theme.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@theme.errors.count, "error") %> prohibited this theme from being saved:</h2>

  <ul>
    <% @theme.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="col-md-8 col-md-offset-2">
  <%= f.text_field :name, class:"well bg-white strong text-center", style:"width:100%;font-size:25px;"  , placeholder: "Nome do Tema" %>
  <div class="row">
    <div class="col-md-6">
       <%= f.text_field :icon, class:"well bg-white strong text-center", style:"width:100%;font-size:15px;"  , placeholder: "Icone do Tema" %>
    </div>
    <div class="col-md-6">
       <%= f.text_field :color, class:"well bg-white strong text-center", style:"width:100%;font-size:15px;"  , placeholder: "Cor do Tema" %>
    </div>
  </div>
  <%= f.text_area :description, class:"well bg-white strong text-center", style:"width:100%;font-size:15px"  , placeholder: "Descreva o Tema", rows:5 %>
   <div id="subthemes" class="row">        
    <%= f.fields_for :subthemes do |b| %>
    <div class="col-md-6">
      <div class="widget">
        <div class="widget-head">
          <%= b.link_to_remove class:"text-danger pull-right" do %>
          <i class="fa fa-trash-o"></i>
          <% end %>
          <h4 class="heading">Novo Subtema</h4>
        </div>
        <div class="widget-body">
          <div class="field-group">
            <h5 class="text-muted">Nome</h5>             
            <%= b.text_field :name, class:"form-control"%>
            <p>&nbsp;</p>
          </div>
          <div class="field-group">
            <h5 class="text-muted">Descrição</h5>             
            <%= b.text_area :description, class:"form-control", rows:5%>
            <p>&nbsp;</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">  
      <%= f.link_to_add :subthemes, "data-target" => "#subthemes", class:"btn btn-info btn-block"  do %>
      <i class="fa fa-plus"></i> Novo Subtema
      <% end %>
    </div>
    <div class="col-md-6">
      <%= button_tag(type: :submit,  class:"btn btn-success btn-block") do %>
      <i class="fa fa-check"></i> Salvar Tema
      <% end %>
    </div>   
  </div>   
  </div>
</div>

<% end %>