<div class="col-md-8 col-md-offset-2">
  <p>&nbsp;</p>
  <% @themes.each do |theme| %>
  <div class="widget media margin-none ">
    <%= link_to theme, class:"pull-left bg-#{theme.color} innerAll text-center text-white" do %>
    <i class="fa fa-fw <%= theme.icon  %> fa-5x"></i>
    <% end %>
    <div class="media-body innerAll">
      <h4 class="media-heading innerT">
        <%= link_to theme.name, theme, class:"text-inverse" %> 
      </h4>
      <%= theme.subthemes.count %> Programas
    </div>
  </div>
  <p>&nbsp;</p>
  <% end %>
</div>