<%= content_for :botao_add do  %>
  <%= link_to "Editar", edit_theme_path(@theme), class:"btn btn-info" %>
<% end %>
<div class="col-md-8 col-md-offset-2">	
	<div class="widget">
		<div class="widget-body padding-none">
			<div class="jumbotron margin-none center bg-white">
				<h1 class="separator bottom"><%= @theme.name %></h1>
				<p>
					<%= @theme.description %>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<% @theme.subthemes.each do |subtheme| %>
		<div class="col-md-6">
			<div class="widget widget-body-gray margin-none" >
				<div class="widget-body" style="height:200px;overflow:hidden">
					<div class="separator bottom"></div>
					<div class="glyphicons glyphicon-large pen group-column glyphicon-regular">
						<i></i>
						<h4><%= truncate(subtheme.name, length: 250) %></h4>
						<p>
							<%= truncate(subtheme.description, length: 100) %>
						</p>
					</div>
				</div>
			</div>
			<p>&nbsp;</p>
		</div>
		<% end %>
	</div>
</div>