<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @configuration.token %>
</p>

<p>
  <strong>Text:</strong>
  <%= @configuration.text %>
</p>

<%= link_to 'Edit', edit_configuration_path(@configuration) %> |
<%= link_to 'Back', configurations_path %>
