<div class="row">  
  <% @tokens.each do |token| %>
  <div class="col-xs-4">
    <div class="widget widget-heading-simple widget-body-white">
      <div class="widget-body innerAll inner-2x">
        <div class="glyphicons glyphicon-xlarge glyphicon-top display">
          <i></i>
          <h4><%= token.token %></h4>
          <p class="margin-none">
            Acesse http://192.168.10.101 e clique em desafios no acesso, em seguida primeiro acesso para realizar seu cadastro com esse token
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>