<% if votes.count != 0 %>

<div class="col-md-8" id="ct-chart-vote_<%= question.id  %>"></div>
<div class="col-md-4 chart_caption_<%= question.id  %>" style="display:none">
	<div class="box-generic innerAll inner-2x">
		<ol>
			<% votes.each_with_index do |vote, index|  %>
			<li><%= vote.reply  %></li>
			<% end %>
		</ol>
	</div>
</div>
<div class="clearfix"></div>
<script type="text/javascript">
	function ver_grafico_<%= question.id  %>(){
		new Chartist.Pie('#ct-chart-vote_<%= question.id  %>',{
			series: [
			<% votes.each_with_index do |vote, index|  %>
			'<%= vote.value  %>' <%= "," if index != votes.size - 1 %>
			<% end %>
			],
			labels: [
			<% votes.each_with_index do |vote, index|  %>
			'<%= index +1 %>' <%= "," if index != votes.size - 1 %>
			<% end %>, 
			]}, 
			{
				height: 300
			})
		$('.chart_caption_<%= question.id  %>').show()
	};

</script>
<% end %>