<% result = event.people.distinct.group_by(&:city).each %>
<% result.each do |city, people| %>
<div class="col-md-4">
	<!-- Widget -->
	<div class="widget widget-3">
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">
				<%= city || "Não Informado" %>
			</h4>
		</div>
		<!-- // Widget heading END -->
		<div class="widget-body large">
			<i class="fa fa.group"></i> <%= people.count %>
		</div>
	</div>
	<!-- // Widget END -->
</div>
<% end %>


<div class="col-md-12">	
	<div class="widget" id="ct-chart"></div>
</div>

<div class="clearfix"></div>
<script type="text/javascript">
	new Chartist.Pie('#ct-chart',{
	series: [
		<% result.each do |city, people |  %>
			'<%= people.count  %>',
		<% end %>
	],
	labels: [
		<%result.each do |city, people|  %>
			'<%= city  %>',
		<% end %>
	]}, 
	{
		height: 800
	})
</script>
