<p>	
	<div class="editable" data-type="textarea" data-pk="1" data-title="Insira um comentário" data-url="<%= editable_edit_comment_path(comment) %>" style="border-bottom:none"><%= comment.text %></div>
</p>