<div class="widget innerAll">				
	<p>	
	<%= link_to 'apagar', comment, method: :delete, data: { confirm: 'Tem Certeza?' }, class:"btn btn-danger btn-xs hidden-print no-ajaxify" %>
		<span class="strong"><i><%= comment.created_at %>:</i></span>
		<div class="editable" data-type="textarea" data-pk="1" data-title="Insira um comentário" data-url="<%= editable_edit_comment_path(comment) %>" style="border-bottom:none"><%= comment.text %></div>
	</p>
</div>