<div class="media-body innerAll">
	<div class="widget-head">
		<h4 class="heading">Ações</h4>
	</div>
	<div class="widget-body">				
		<ul class="list-group list-group-1 margin-none borders-none">
		<% deed_ranking.each do |ranking| %>
			<li class="list-group-item animated fadeInUp">
				<a>
					<span class="badge pull-right badge-default"><%= ranking[:count]  %></span>
					<%= ranking[:deed] %>
				</a>
			</li>
		<% end %>
		</ul>
	</div>
</div>