<div id="SketchTools">
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-head">
					<h4 class="heading">Paleta de Cores</h4>
				</div>
				<div class="widget-body InnerAll">
					<!-- Basic tools -->
					<a class="no-ajaxify" href="#SketchPad" data-color="#000000" title="Black"><img src="/drw/img/black_icon.png" alt="Black"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#ff0000" title="Red"><img src="/drw/img/red_icon.png" alt="Red"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#00ff00" title="Green"><img src="/drw/img/green_icon.png" alt="Green"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#0000ff" title="Blue"><img src="/drw/img/blue_icon.png" alt="Blue"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#ffff00" title="Yellow"><img src="/drw/img/yellow_icon.png" alt="Yellow"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#00ffff" title="Cyan"><img src="/drw/img/cyan_icon.png" alt="Cyan"/></a>
					<!-- Advanced colors -->
					<a class="no-ajaxify" href="#SketchPad" data-color="#e74c3c" title="Alizarin"><img src="/drw/img/alizarin_icon.png" alt="Alizarin"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#c0392b" title="Pomegrante"><img src="/drw/img/pomegrante_icon.png" alt="Pomegrante"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#2ecc71" title="Emerald"><img src="/drw/img/emerald_icon.png" alt="Emerald"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#1abc9c" title="Torquoise"><img src="/drw/img/torquoise_icon.png" alt="Torquoise"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#3498db" title="Peter River"><img src="/drw/img/peterriver_icon.png" alt="Peter River"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#9b59b6" title="Amethyst"><img src="/drw/img/amethyst_icon.png" alt="Amethyst"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#f1c40f" title="Sun Flower"><img src="/drw/img/sunflower_icon.png" alt="Sun Flower"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#f39c12" title="Orange"><img src="/drw/img/orange_icon.png" alt="Orange"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#ecf0f1" title="Clouds"><img src="/drw/img/clouds_icon.png" alt="Clouds"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#bdc3c7" title="Silver"><img src="/drw/img/silver_icon.png" alt="Silver"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#7f8c8d" title="Asbestos"><img src="/drw/img/asbestos_icon.png" alt="Asbestos"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-color="#34495e" title="Wet Asphalt"><img src="/drw/img/wetasphalt_icon.png" alt="Wet Asphalt"/></a>
					
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-head">
					<h4 class="heading">Ferramentas de Desenho</h4>
				</div>
				<div class="widget-body InnerAll">
					<a class="no-ajaxify" href="#SketchPad" data-color="#ffffff" title="Eraser"><img src="/drw/img/eraser_icon.png" alt="Eraser"/></a>
					<!-- Size options -->
					<a class="no-ajaxify" href="#SketchPad" data-size="1"><img src="/drw/img/pencil_icon.png" alt="Pencil"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-size="3"><img src="/drw/img/pen_icon.png" alt="Pen"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-size="5"><img src="/drw/img/stick_icon.png" alt="Stick"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-size="9"><img src="/drw/img/smallbrush_icon.png" alt="Small brush"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-size="15"><img src="/drw/img/mediumbrush_icon.png" alt="Medium brush"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-size="30"><img src="/drw/img/bigbrush_icon.png" alt="Big brush"/></a>
					<a class="no-ajaxify" href="#SketchPad" data-size="60"><img src="/drw/img/bucket_icon.png" alt="Huge bucket"/></a>
					<br/>
				</div>
			</div>
		</div>
	</div>
</div>

<canvas id="SketchPad" width="800" height="600"></canvas>

<script type="text/javascript">
	$(function() {
		$('#SketchPad').sketch();
	});
</script>
	<a class="no-ajaxify" href="#SketchPad" data-download='png' id="DownloadPng">Salvar como Imagem</a>
	<br/>