<div class="widget">
	<div class="widget-head">
		<h4 class="heading"> Resultado</h4>
	</div>
	<div class="widget-body">
	<% question.votes_theme_ranking(theme, event).each_with_index do |vote, index| %>
		<%= render partial:'home/votes_question', locals:{index:index, vote:vote} %>
		<% end %>
	</div>
</div>
<div class="widget">
	<div class="widget-head">
		<div onclick="ver_grafico_<%= question.id  %>()" class="btn btn-info pull-right btn-sm"> Ver Gráfico</div>
		<h4 class="heading"> Gráfico</h4>
	</div>
	<div class="widget-body">
	<%= render partial:'home/chart_question', locals:{votes:question.votes_theme_ranking(theme, event).each, question:question} %>
	</div>
</div>