<div class="widget inner-2x innerAll bg-info">		

	<h1 class="center strong" style="font-size:90px;"><%= person  %></h1>
	<h1 class="center "><%= person.function  %> <%= "|" if person.function.present? and person.city.present? %> <%= person.city %></h1>
</div>
<p>&nbsp;</p>
<h1 class="center">
<i class="fa fa-thumbs-up"></i> Obrigado por vir <%= person.name.split(" ").first  %>!
</h1>