<div class="widget inner-2x innerAll bg-info">		

	<h1 class="center strong"><%= person  %></h1>
	<h1 class="center "><small class="text-white"><%= person.city %></small></h1>
</div>
<p>&nbsp;</p>
<h1 class="center">
<i class="fa fa-thumbs-up"></i> Obrigado por vir <%= person.name.split(" ").first  %>!
</h1>
