<div class="widget">	
	<div class="widget-head">
        <h4 class="heading">
        	Geral
        </h4>
    </div>
   	<div class="widget-body innerAll">        
		<% Reply.where(question:question, subtheme:nil, default:true).each do |reply|  %>
		<div class="widget">
			<div class="widget-head">
				<%= form_tag(create_by_reply_votes_path(event_id:params[:event_id], reply_id:reply.id, theme_id:theme.id), remote: true) do  %>	
					<div class="input-group pull-right" style="width:105px;">
						<%= text_field_tag :value, nil, class:"form-control", placeholder:"Votos"  %>
						<div class="input-group-btn">
							<%= submit_tag("ok", class:"btn btn-success") %>
						</div>
					</div>
				<% end %>
				<h4 class="heading"><%= reply  %></h4>
			</div>
			<div class="widget-body inner-all">
				<p><%= reply.description  %></p>
			</div>
		</div>
        <% end %>
    </div>
    <p>&nbsp;</p>
</div>

<% if question.all_replies %>
	<% Theme.all.each do |theme| %>
		<% theme.subthemes.each do |subtheme| %>
			<div class="widget">	
				<div class="widget-head">
			        <h4 class="heading">
			        	<%= subtheme %>
			        </h4>
			    </div>
			   	<div class="widget-body innerAll">        
					<% Reply.by_theme_question(subtheme, question).norteadoras.each do |reply|  %>
					<div class="widget">
						<div class="widget-head">				
							<%= form_tag(create_by_reply_votes_path(event_id:params[:event_id], reply_id:reply.id, theme_id:theme.id), remote: true) do  %>	
								<div class="input-group pull-right" style="width:105px;">
									<%= text_field_tag :value, nil, class:"form-control", placeholder:"Votos"  %>
									<div class="input-group-btn">
										<%= submit_tag("ok", class:"btn btn-success") %>
									</div>
								</div>
							<% end %>
							<h4 class="heading"><%= reply  %></h4>
						</div>
						<div class="widget-body inner-all">
							<p><%= reply.description  %></p>		
						</div>
					</div>
			        <% end %>
			    </div>
			    <p>&nbsp;</p>
			</div>
			<% end %>
	<% end %>
<% else %>
	<% theme.subthemes.each do |subtheme| %>
	<div class="widget">	
		<div class="widget-head">
	        <h4 class="heading">
	        	<%= subtheme %>
	        </h4>
	    </div>
	   	<div class="widget-body innerAll">        
			<% Reply.by_theme_question(subtheme, question).norteadoras.each do |reply|  %>
			<div class="widget">
				<div class="widget-head">				
					<%= form_tag(create_by_reply_votes_path(event_id:params[:event_id], reply_id:reply.id, theme_id:theme.id), remote: true) do  %>	
						<div class="input-group pull-right" style="width:105px;">
							<%= text_field_tag :value, nil, class:"form-control", placeholder:"Votos"  %>
							<div class="input-group-btn">
								<%= submit_tag("ok", class:"btn btn-success") %>
							</div>
						</div>
					<% end %>
					<h4 class="heading"><%= reply  %></h4>
				</div>
				<div class="widget-body inner-all">
					<p><%= reply.description  %></p>		
				</div>
			</div>
	        <% end %>
	    </div>
	    <p>&nbsp;</p>
	</div>
	<% end %>
<% end %>