<% votes =  question.votes_theme(theme, event).order(id: :asc) %>
<div class="widget">
	<div class="widget-head">
		<div class="pull-right">
			<div class="btn-default btn btn-sm grid_votes" onclick="display_table()">Tabela</div>
			<div class="btn-default btn btn-sm table_votes" onclick="display_grid()">Grade</div>
		</div>
		<h4 class="heading">Desafios</h4>
	</div>
	<div class="widget-body">
		<div class="row innerAll inner-2x">	
			<div class="grid_votes">				
				<% votes.each_with_index do |vote, index| %>
				<div class="col-md-4">
					<div class="widget widget-heading-simple widget-body-white">
						<%= link_to vote, class:"pull-right text-muted no-ajaxify", method: :delete, remote: true do %>
						<i class="fa fa-times"></i>
						<% end %>
						<div class="col-md-12"></div>
						<div class="widget-body innerAll inner-2x center popover_r" style="height:230px; overflow:hidden" data-toggle="popover" data-title="<%= vote.reply %>" data-content="<%= vote.reply.description %>" data-placement="left" data-original-title="" title="">
							<h4><%= vote.reply  %></h4>
						</div>
						<div class="btn-group btn-group-justified">							
							<%= link_to plus_vote_vote_path(vote), class:"btn btn-default btn-block no-ajaxify  strong", remote: true do %>
							<span class="text-success">
								<i class="fa fa-plus"></i> Voto
							</span>
							<% end %>

							<%= link_to plus_vote_vote_path(vote, remove: "true"), class:"btn btn-default btn-block no-ajaxify text-success strong", remote: true do %>
							<span class="text-danger">
								<i class="fa fa-trash-o"></i> Remover
							</span>
							<% end %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<div class="table_votes">
				<table class="table table-condensed table-striped table-primary table-vertical-center checkboxs">
					<thead>
						<th class="col-md-1">#</th>
						<th>Nome</th>
						<th class="col-md-2">Ações</th>
					</thead>
					<tbody>
						<% votes.each_with_index do |vote, index| %>
						<tr>
							<td class="strong"><%= index + 1 %></td>
							<td class="strong"><%= vote.reply %></td>
							<td>
								<div class="btn-group btn-group-justified">			
									<%= link_to plus_vote_vote_path(vote), class:"btn btn-success btn-xs btn-block no-ajaxify  strong", remote: true do %>
										<i class="fa fa-plus"></i>
									<% end %>
									<%= link_to plus_vote_vote_path(vote, remove: "true"), class:"btn btn-danger btn-xs btn-block no-ajaxify text-success strong", remote: true do %>
										<i class="fa fa-trash-o"></i>
									<% end %>
								</div>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>	
		</div>
	</div>
</div>
<script type="text/javascript">
	$('.popover_r').popover();
</script>