<% if replies.blank? %>
	<h4>Não foram encontrados desafios anteriores</h4>
<% end %>
<% replies.each do |reply|  %>
	<div class="widget">
		<div class="widget-head">				
			<%= form_tag(create_by_reply_votes_path(event_id:params[:event_id], reply_id:reply.id, theme_id:theme.id), remote: true) do  %>	
				<div class="input-group pull-right">
					<%= hidden_field_tag :value, 0, class:"form-control", placeholder:"Votos"  %>
					<div class="input-group-btn">
					</div>
					<%= submit_tag("inserir", class:"btn btn-success") %>
				</div>
			<% end %>
		</div>
		<div class="widget-body inner-all">
			<h4 class="heading"><%= reply  %></h4>
			<p><%= reply.description  %></p>		
		</div>
	</div>
<% end %>
<p>&nbsp;</p>
<%= link_to "Inserir Desafio Personalizado", new_vote_path(event_id:params[:event_id], theme_id:params[:theme_id], question_id:1, title: params[:q][:title_or_description_cont]), class:"btn btn-success btn-lg btn-block strong no-ajaxify", remote: true %>