<div class="widget widget-body-gray">
	<div class="widget-body padding-none">
		<div class="bg-<%= bg_widget_capacity(event.overbooked?)  %> innerAll">
			<div class="text-large text-white pull-right"><%= event.total_subscribers %></div>
			<h4 class="text-white strong text-medium">
				Total de Inscritos
				<% if event.overbooked? %>
				<small><span class="label label-warning ">lotado</span></small>
				<% end %>
			</h4>
			<h5 class="text-white margin-none">A capacidade total foi definida para <%= event.capacity  %> pessoas, <%= event.lunchs %> almoços necessários.</h5>
			<div class="separator bottom"></div>
			<div class="progress primary progress-mini  margin-none">
				<div class="progress-bar progress-bar-white	" style="width: <%= event.percent_subscribers  %>%;"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<% themes.each do |list|  %>		
	<div class="col-md-4">
		<div class="widget widget-tabs widget-tabs-double-2 border-bottom widget-tabs-responsive">
			<div class="widget-head border-top-none bg-gray innerAll inner-2x center">
				<h4><%= list[:theme][:name] %></h4>
			</div>
			<div class="widget-body <%= "bg-danger" if list[:overbooked]%>">
				<div class="tab-content">
					<div id="tabReports" class="tab-pane active widget-body-regular innerAll inner-2x text-center">
						<div data-percent="<%= list[:percent] %>" data-size="100" class="easy-pie inline-block <%= bg_widget_capacity(list[:overbooked]) %>" data-scale-color="false"
							data-track-color="#efefef" data-line-width="8">
							<div class="value text-center">
								<span class="strong">
									<%= list[:percent] %>%
								</span>
							</div>
						</div>
						da capacidade
					</div>
					<div class="widget-head border-top-none bg-gray innerAll inner-2x center">
						<h4 class="text-inverse"><%= list[:subscribers] %> participantes</h4>
					</div>
				</div>
			</div>
			<!-- // Tabs Heading END -->
		</div>
	</div>
	<% end %>
</div>
<script src="/mosaicpro/components/modules/admin/charts/easy-pie/assets/custom/easy-pie.init.js?v=v1.0.3-rc2"></script>