<h3>Tema: <%= theme  %></h3>
<p>
	<%= theme.description  %>
</p>
<h4><i>Programas</i></h4>
<p>				
	<ul>
	<% theme.subthemes.each do |subtheme|  %>
		<li><%= subtheme %></li>
	<% end %>
	</ul>
</p>
<% @questions.each do |question| %>

	<h3><%= question %></h3>
	<p>Realizamos a seguinte pergunta aos participantes: <i>'<%= question  %>'</i>.</p>
	<p> <%= question.description  %></p>
	<p>Dentre as desafios dadas pedimos para que fossem priorizados <%= question.limit  %>. São elas:</p>
		<% question.votes_theme_ranking(theme, event).each_with_index do |vote,index| %>
			<div class="innerAll">
				<h4><%= index +1 %> - <%= vote.reply  %> <small>(<%= vote.value %> votos)</small></h4>
				<p><%= vote.reply.description  %></p>
				Para solucionar esta deficiência foram identificadas as seguintes ações:
				<ul class="list-group list-group-1 margin-none borders-none">
				<% vote.reply_deeds.group_by(&:deed).each do |deed, reply_deeds| %>
					<li class="list-group-item animated fadeInUp">
						<a>
							<span class="badge pull-right badge-default"><%= reply_deeds.count  %></span>
							<%= deed %>
							<p style="font-weight: normal;"><%= deed.description %></p>
						</a>
					</li>
				<% end %>
				</ul>
			</div>
		<% end %>
	</div>
	<p>Sendo que todos os seguintes desafios foram citadas: </p>
	<p>
		<% question.votes.where(theme:theme).where(event:event).each do |vote|  %>
			<%= vote.reply  %> (<%= vote.value  %> votos), 
		<% end %>.
	</p>
	<h4><i>Registros da Discussão</i></h4>
<% end %>