<div class="widget media margin-none ">
	<a class="pull-left bg-info innerAll text-center text-white"><i class="fa fa-fw fa-5x"><%= index +1 %></i>
	</a>
	<div class="media-body innerAll">
		<h1 class="media-heading innerT">
			<%= vote.reply %> 
			<small><i class="fa fa-fw fa-comment-o"></i> <%= vote.value %></small>
		</h1>
		<%= vote.reply.description %>
		<p>&nbsp;</p>
	</div>
</div>