<div class="widget media margin-none ">
	<a class="pull-left bg-info innerAll text-center text-white"><i class="fa fa-fw fa-5x"><%= index +1 %></i>
	</a>
	<div class="media-body innerAll">
		<h1 class="media-heading innerT">
			<%= vote.reply %> 
			<small><i class="fa fa-fw fa-comment-o"></i> <%= vote.value %></small>
		</h1>
		<%= vote.reply.description %>
		<p>&nbsp;</p>
	</div>
	<div class="media-body innerAll">
		<div class="widget-head">
			<h4 class="heading">Solução</h4>
		</div>
		<div class="widget-body">				
			<ul class="list-group list-group-1 margin-none borders-none">
			<% vote.reply_deeds.group_by(&:deed).each do |deed, reply_deeds| %>
				<li class="list-group-item animated fadeInUp">
					<a>
						<span class="badge pull-right badge-default"><%= reply_deeds.count  %></span>
						<span class="pull-left" onclick="remove_all_vote_action(<%= reply_deeds.last.id %>)">
							<i class="fa fa-times-circle" style="color:red"></i>
						</span>
						<span class="pull-left" onclick="remove_vote_action(<%= reply_deeds.last.id %>)">
							<i class="fa fa-trash-o" style="color:red"></i>
						</span>
						<%= deed %> <small class="text-muted"><i>cod(<%= deed.id %>)</i></small>
						<p style="font-weight: normal;"><%= deed.description %></p>
					</a>
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>
<p>&nbsp;</p>