<div class="error innerAll ">		
	<div class="well text-center">
		<div class="center text-large innerAll">
			<i class="fa fa-5x icon-identification text-info "></i>
		</div>
		<h1 class="strong innerTB">Insira o CPF do participante para iniciar o credenciamento</h1>
		<h4 class="text-danger" id="notice"><%= notice %></h4>
		<%= number_field_tag(:cpf, nil , class:"well bg-white text-danger strong text-center", style:"width:100%;font-size:25px;", id:"cpf")  %>
	</div>
  <div class="btn btn-lg btn-success btn-block" onclick="cred()">  credenciar

  </div>
</div>


<script type="text/javascript">
	$('#cpf').bind("enterKey",function(e){
		$.get("/credenciar/" + $('#cpf').val().replace(/\D/g,''))
	});
	$('#cpf').keyup(function(e){
	    if(e.keyCode == 13)
	    {
	        $(this).trigger("enterKey");
	    }
	});

	function cred() {
      $.get("/credenciar/" + $('#cpf').val().replace(/\D/g,''))
  }
</script>