<div class="col-md-8 col-md-offset-2">
	<div class="widget">
		<div class="widget-body padding-none">
		  <div class="jumbotron margin-none center bg-white">
		  <h1 class="separator bottom">Bem vindo ao PPA!</h1>
		    <p>
		      Aqui gerenciaremos as consultas regionais para a elaboração do PPA 2020 - 2023
		    </p>
		  </div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="widget">
			<%= link_to credenciamento_path, class:"display-block bg-success innerAll text-center text-white" do  %>
				<i class="icon-identification fa-5x"></i>
			<% end %>
			<div class="text-center innerAll">
				<%= link_to "Credenciamento", credenciamento_path, class:"strong" %>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="widget">
			<%= link_to documents_path, class:"display-block bg-info innerAll text-center text-white" do  %>
				<i class="icon-cloudy fa-5x"></i>
			<% end %>
			<div class="text-center innerAll">
				<%= link_to "Documentos", documents_path, class:"strong" %>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="widget">
			<%= link_to themes_path, class:"display-block bg-danger innerAll text-center text-white" do  %>
				<i class="icon-store-front fa-5x"></i>
			<% end %>
			<div class="text-center innerAll">
				<%= link_to "Temas", themes_path, class:"strong" %>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="widget">
			<%= link_to questions_path, class:"display-block bg-gray border-bottom innerAll text-center" do  %>
				<i class="icon-question fa-5x"></i>
			<% end %>
			<div class="text-center innerAll">
				<%= link_to "Perguntas", questions_path, class:"strong" %>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="widget">
			<%= link_to painel_moderador_path, class:"display-block bg-purple innerAll text-center text-white" do  %>
				<i class="icon-user-1 fa-5x"></i>
			<% end %>
			<div class="text-center innerAll">
				<%= link_to "Moderador", painel_moderador_path, class:"strong" %>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="widget">
			<%= link_to painel_redator_path, class:"display-block bg-inverse innerAll text-center text-white" do  %>
				<i class="icon-compose fa-5x"></i>
			<% end %>
			<div class="text-center innerAll">
				<%= link_to "Redator", painel_redator_path, class:"strong" %>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="widget">
			<%= link_to events_path, class:"display-block bg-mustard innerAll text-center text-white" do  %>
				<i class="icon-calendar-1 fa-5x"></i>
			<% end %>
			<div class="text-center innerAll">
				<%= link_to "Eventos", events_path, class:"strong" %>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="widget">
			<%= link_to plenaria_path, class:"display-block bg-success innerAll text-center text-white" do  %>
				<i class="icon-projector-screen-bar fa-5x"></i>
			<% end %>
			<div class="text-center innerAll">
				<%= link_to "Apresentação", plenaria_path, class:"strong" %>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>