<div class="widget">
	<div class="widget-head">
		<h4 class="heading">Participantes na sala <%= @theme  %> (<%= @event.name  %>)</h4>
	</div>
	<div class="widget-body">
		<table class="table table-condensed table-striped table-primary table-vertical-center checkboxs">
			<thead>
				<th>#</th>
				<th>Nome</th>
				<th>Função</th>
				<th>Cidade</th>
				<th>CPF</th>
			</thead>
			<tbody>
				<% @theme.subscribers(@event).each_with_index do |entry, index|  %>
				<tr>
					<td><%= index +1  %></td>
					<td><%= entry.person %></td>
					<td><%= entry.person.function %></td>
					<td><%= entry.person.city %></td>
					<td><%= entry.person.cpf %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>