<div class="row">	
	<div class="col-md-12" style="background-color:#000">	
		<div id="video_div" style="display:none">
			<video id="video" width="100%" src="/videos/video1.mp4" height="600px"></video>
		</div>
	</div>
	<div class="col-md-12 row">
		<div class="center col-md-3">
			<img src="/logo.png" width="200px">
		</div>
		<p>&nbsp;</p>
		<div class="col-md-3">

			<div class="box-generic innerAll inner-2x center">
				<h1 class="text-info"> 
					<i class="fa icon-group"></i> 
					<span id="entries"><%= @entries %></span>
				</h1>
				pessoas credenciadas
			</div>
		</div>
		<div class="col-md-3">
			<div class="box-generic innerAll inner-2x center">
				<h1 class="text-danger">
					<i class="fa icon-presentation"></i>  
					<span id="problems"><%= @problems %></span>
				</h1>
				desafios discutidos
			</div>
		</div>
		<div class="col-md-3">
			<div class="box-generic innerAll inner-2x center">
				<h1 class="text-success"> <i class="fa  icon-thumbs-up"></i>   <span id="actions"><%= @actions %></span>
				</h1>
				soluções apresentadas
			</div>
		</div>
	</div>
</div>
<div class="box-generic innerAll inner-2x" id="themes">
	<div class="row">
		<% Theme.all.each do |theme| %>
		<div class="col-sm-4">
			<div class="widget">
				<%= link_to theme, class:"display-block bg-#{theme.color} innerAll text-center text-white" do  %>
				<i class="<%= theme.icon %> fa-5x"></i>
				<% end %>
				<div class="text-center innerAll">
					<h4><%= theme %></h4>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
<%= content_for :scripts do  %>
<script type="text/javascript">
	setInterval(function(){
		$.get("/home/multimidia.js")
	}, 5000);
	$('#video').on('ended',function(){
      //console.log('Video has ended!');
		$('#video_div').slideUp();
    });

    $('#video_2').on('ended',function(){
      //console.log('Video has ended!');
		$('#video_2').play();
    });
</script>
<% end %>