<div class="row">	
	<div class="col-md-12" style="background-color:#000">	
		<div id="video_div" style="display:none">
			<video id="video" width="100%" src="/videos/video1.mp4" height="600px"></video>
		</div>
	</div>
	<div class="col-md-12 row">
		<div class="center col-md-3">
			<img src="/logo.png" width="200px">
		</div>
		<p>&nbsp;</p>
		<div class="col-md-3">

			<div class="box-generic innerAll inner-2x center">
				<h1 class="text-info"> 
					<i class="fa icon-group"></i> 
					<span id="entries"><%= @entries %></span>
					pessoas
				</h1>
			</div>
		</div>
		<div class="col-md-3">
			<div class="box-generic innerAll inner-2x center">
				<h1 class="text-danger">
					<i class="fa icon-presentation"></i>  
					<span id="problems"><%= @problems %></span>
					desafios
				</h1>
			</div>
		</div>
		<div class="col-md-3">
			<div class="box-generic innerAll inner-2x center">
				<h1 class="text-success"> <i class="fa  icon-thumbs-up"></i>   <span id="actions"><%= @actions %></span>
				soluções
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="box-generic innerAll inner-2x" id="themes">
	<div class="row center">
		<img src="/aparecida.jpg" width="70%">
		<h1 class="center">Aparecida do Rio Negro</h1>
	</div>
</div>
<%= content_for :scripts do  %>
<script type="text/javascript">
	setInterval(function(){
		$.get("/home/multimidia.js")
	}, 5000);
	$('#video').on('ended',function(){
      //console.log('Video has ended!');
		$('#video_div').slideUp();
    });

    $('#video_2').on('ended',function(){
      //console.log('Video has ended!');
		$('#video_2').play();
    });
</script>
<% end %>