<div class="center">
	<img src="/logo.png" width="200px">
</div>
<p>&nbsp;</p>
<div class="box-generic innerAll inner-2x" id="themes">
	<div class="btn btn-info btn-lg btn-block" onclick="show_video('video1.mp4')" >Video Regional</div>
	<div class="btn btn-info btn-lg btn-block" onclick="show_video('video2.mp4')" >Video PPA</div>
	<div class="btn btn-info btn-lg btn-block" onclick="show_video('salao_3.mp4')" >Salão do Livro</div>
	<div class="btn btn-info btn-lg btn-block" onclick="show_loop('hino.mp4')" >Hino Nacional</div>
	<div class="btn btn-info btn-lg btn-block" onclick="stop_video()" >Parar Video</div>
	<div class="btn btn-info btn-lg btn-block" onclick="play_video()" >Play Video</div>
</div>
<%= content_for :scripts do  %>
	<script type="text/javascript">
	var w = window.open('<%= multimidia_path  %>');
	function show_video(src){
		var video = w.$('#video')
		w.$('#video_div').slideDown();
		video.attr('src', '/videos/' + src);
		video.get(0).loop = false
		video.get(0).play();
	};

	function show_loop(src) {
		var video = w.$('#video')
		w.$('#video_div').slideDown();
		video.attr('src', '/videos/' + src);
		video.get(0).loop = true
		video.get(0).play();
	};

	function stop_video() {
		var video = w.$('#video')
		w.$('#video_div').slideUp();
		video.get(0).pause();
	};

	function play_video() {
		var video = w.$('#video')
		w.$('#video_div').slideDown();
		video.get(0).play();
	};
	</script>
<% end %>