<%= content_for :title do "#{@event.date} - #{@event.name}" end %>
<%= content_for :icon_page do "fa-calendar" end %>
<%= content_for :head do  %>
	<link href="/chart/chartist.min.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
	<script src="/chart/chartist.js"></script>
<% end %>
<p>&nbsp;</p>
<div id="stats">
	<%= render partial:'cities_entries', locals:{event:@event, themes:@themes} %>
</div>

<%= render 'refresh_painel' %>