<h2 class="center">Consulta Pública - <%= @event.name %> - <%= @theme  %></h2>
<h3>Introdução</h3>
<p>
	<%= Configuration.get("intro") %>
</p>
<h3>Sobre a Consulta</h3>
<p>
	A consulta foi realizada no dia <%= @event.date  %> em <%= @event.place %> com a presença de <%= @event.total_subscribers  %> participantes, sendo <%= @theme.total_subscribers(@event)  %> presentes nesta sala.
</p>
<h3>Tema: <%= @theme  %></h3>
<p>
	<%= @theme.description  %>
</p>
<h4><i>Programas</i></h4>
<p>				
	<ul>
	<% @theme.subthemes.each do |subtheme|  %>
		<li><%= subtheme %></li>
	<% end %>
	</ul>
</p>

<h3>Registros Iniciais</h3>		
<% @comments_inicio.each do |comment| %>
<%= render partial:'home/comment', locals:{comment:comment} %>
<% end %>

<% if @comments_inicio.blank? %>
	Nenhum registro foi realizado.
<% end %>
<% @questions.each do |question| %>

	<h3><%= question %></h3>
	<p>Realizamos a seguinte pergunta aos participantes: <i>'<%= question  %>'</i>.</p>
	<p> <%= question.description  %></p>
	<p>Dentre as desafios dadas pedimos para que fossem priorizados <%= question.limit  %>. São elas:</p>
		<% question.votes_theme_ranking(@theme, @event).each_with_index do |vote,index| %>
			<div class="innerAll">
				<h4><%= index +1 %> - <%= vote.reply  %> <small>(<%= vote.value %> votos)</small></h4>
				<p><%= vote.reply.description  %></p>
			</div>
		<% end %>
	</div>
	<p>Sendo que todas os seguintes desafios foram citados: </p>
	<p>
		<% question.votes.where(theme:@theme).where(event:@event).each do |vote|  %>
			<%= vote.reply  %> (<%= vote.value  %> votos), 
		<% end %>.
	</p>
	<h4><i>Registros da Discussão</i></h4>
	<div class="widget"></div>
	<% @event.comments.tema.where(question:question, theme:@theme).each do |comment| %>
		<div class="widget innerAll">				
			<%= render partial:'home/comment', locals:{comment:comment} %>
		</div>
	<% end %>
<% end %>
<h3>Ranking das Ações</h3>
<ul class="list-group list-group-1 margin-none borders-none">
	<% @deed_ranking.each do |ranking| %>
		<li class="list-group-item animated fadeInUp">
			<a>
				<%= ranking[:deed] %> (peso <%= ranking[:count]  %>)
			</a>
		</li>
	<% end %>
</ul>
<h3>Registros Finais</h3>		
<% @comments_fim.each do |comment| %>
	<%= render partial:'home/comment', locals:{comment:comment} %>
<% end %>

<% if @event.comments.fim.blank? %>
	Nenhum registro foi realizado.
<% end %>