<h1 class="center">Desafios Mais Votados</h1>
<h3 class="center"><%= @event.name %></h3>
<link rel="stylesheet" type="text/css" href="/animate.css">
<style type="text/css">
  .escolhido {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
</style>

<div class="row center">
  <div class="col-md-12">
    <a href="<%= ControlApi.provider %>/consultas_publicas/receber_pergunta?event_id=<%=@event.id%>&plenaria=1" class="btn btn-info" target="_blank" >
      <i></i><span class="strong">Enviar para Votação</span>
    </a>
    <a href="<%= contabilizar_votos_plenaria_events_path(event_id: params[:event_id])%>" class="btn btn-info" >
      <i></i><span class="strong">Contabilizar votos Plenária</span>    
    </a>
  </div>
</div>

<div class="row">
  <% @event.votes.order(:theme_id).group_by(&:theme).each do |theme,votes| %>
      <% if theme.present? %>

        <% voto = votes.sort_by{|i| - i.value}.first %>
        <%# voto = votes.sort_by{|i| - i.votoplenaria}.first %>

        <div class="col-md-8 col-md-offset-2">
          <div class="widget media margin-none <%= "animated pulse escolhido" if voto.prioritary == true %>">
            <% if voto.prioritary == true %>
              <div class="ribbon-wrapper">
                <div class="ribbon success">ESCOLHIDO</div>
              </div>
            <% end %>
            <%= link_to definir_prioritario_event_path(@event, voto: voto.id), class:"pull-left bg-#{theme.color} innerAll text-center text-white" do %>
              <i class="fa fa-fw <%= theme.icon  %> fa-5x"></i>
            <% end %>
            <div class="media-body innerAll">
              <%# <h4 class="media-heading innerT"> %>
              <h5 class="media-heading">
                <%= link_to theme.name, theme, class:"text-inverse" %>
              </h5>
              <h4>
                <%= voto.reply %>
                <%if voto.votoplenaria != 0%>
                 <b>Votos:  <%= voto.votoplenaria %></b>
                <%end%>
              </h4>
            </div>
          </div>
        </div>
        <br>
          <% end %>
  <% end %>    
</div>