<%= content_for :head do  %>
<link href="/chart/chartist.min.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
<script src="/chart/chartist.js"></script>
<script type="text/javascript" src="/drw/js/sketch.js"></script>
<link rel="stylesheet" type="text/css" href="/drw/css/canvas_style.css">
<script type="text/javascript" src="/flipclock/flipclock.js"></script>
<link rel="stylesheet" href="/flipclock/flipclock.css">
<% end %>
<style type="text/css" id="style_grid">
	.grid_votes{display: block;}.table_votes{display: none;}
</style>
<div class="row">	
	<div class="col-md-6">
		<div class="widget media margin-none ">
		<%= link_to @theme, class:"pull-left bg-#{@theme.color} innerAll text-center text-white" do %>
			<i class="fa fa-fw <%= @theme.icon  %> fa-5x"></i>
			<% end %>
			<div class="media-body innerAll">
				<h4 class="media-heading innerT">
				<%= link_to @theme,  @theme, class:"text-inverse" %> 
				</h4>
				<%= @theme.subthemes.count %> Programas
			</div>
		</div>
		<p>&nbsp;</p>
	</div>
	<div class="col-md-3">
		<div class="widget innerAll inner-2x center" style="height:102px">
			<h2><%= @theme.total_subscribers(@event)  %> Participantes</h2>
		</div>
	</div>
	<div class="col-md-3">
		<div class="widget" style="height:102px">
			<div class="timer_moderador" style="margin:2em;"></div>
		</div>
	</div>
</div>
<div class="relativeWrap">
	<div class="widget widget-tabs widget-tabs-double widget-tabs-vertical row row-merge">
		<!-- Tabs Heading -->
		<div class="widget-head col-md-3">
			<ul>
				<% @questions.each do |question| %>
				<li class="">
					<a href="#question-<%= question.id  %>" class="glyphicons circle_question_mark" data-toggle="tab">
						<i></i><span class="strong"><%= question %></span>
					</a>
				</li>
				<% end %>
				<li class="">
					<a href="#draw_painel" class="glyphicons pencil" data-toggle="tab">
						<i></i><span class="strong">Painel de Desenho</span>
						<span>Desenhe para Ilustrar</span>
					</a>
				</li>
				<li class="">
					<a href="#timer" class="glyphicons clock" data-toggle="tab">
						<i></i><span class="strong">Admninistrar o Tempo</span>
						<span>Gerencie o Cronômetro</span>
					</a>
				</li>
				<li class="">
					<a href="<%= contabilizar_votos_events_path(event_id: @event, theme_id: @theme) %>" class="glyphicons stats" >
						<i></i><span class="strong">Contabilizar votos</span>
						<span>Conta votos da sala</span>
					</a>
				</li>
				<li class="">
					<a href="<%= ControlApi.provider %>/consultas_publicas/receber_pergunta?event_id=<%=@event.id%>&theme_id=<%=@theme.id%>" class="glyphicons stats" target="_blank" >
						<i></i><span class="strong">Enviar para Votação</span>
						<span>Envia desafios</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- // Tabs Heading END -->
		<div class="widget-body col-md-9">
			<div class="tab-content">
				<!-- Tab content -->
				<% @questions.each do |question| %>
				<div class="tab-pane animated fadeInUp" id="question-<%= question.id  %>">
					<div class="widget">
						<div class="widget-body innerAll inner-2x">							
							<h4 class="strong center"><%= question  %></h4>
						</div>
					</div>
					<div class="widget innerAll inner-2x">						
						<%= form_tag get_sociedade_path(question, @theme, event_id:@event.id), :method => 'get', remote: true do %>
							<%= fields_for :q do |f|%>
								<%= f.text_field :title_or_description_cont,  class:"well bg-white text-danger strong text-center keyup", style:"width:100%;font-size:25px;", placeholder:"Insira um desafio" %>
							<% end %>
							<%= submit_tag("Pesquisar Desafio", class:"btn-success btn btn-lg btn-block") %>
						<% end %>
					</div>
					<div id="replies_<%= question.id  %>">
						<%= render partial:'home/replies_questions', locals:{event:@event, theme:@theme, question:question} %>
					</div>
					<div id="replies_question_<%= question.id  %>">
						<%= render partial:'home/event_results', locals:{event:@event, theme:@theme, question:question} %>
					</div>
					<%= link_to get_actions_path(event_id:@event.id, theme_id:@theme.id), remote: true, class:"no-ajaxify btn btn-success btn-lg btn-block" do %>
						<i class="icon-trophy-fill fa"></i> Ranking das Ações
					<% end %>
				</div>
				<% end %>
				<div class="tab-pane animated fadeInUp" id="draw_painel">
					<h4>Painel de Desenho</h4>
					<p>&nbsp;</p>
					<%= render 'draw_panel' %>
				</div>
				<div class="tab-pane animated fadeInUp" id="timer">
					<h4>Gerenciamento do tempo</h4>
					<p>&nbsp;</p>
					<%= text_field_tag(:clock, nil, id:"clock", class:"well bg-white text-danger strong text-center", style:"width:100%;font-size:40px;",placeholder:"Minutos") %>
					<a onclick="set_clock()" class="btn btn-success btn-block btn-lg">Iniciar Cronômetro</a>
					<p>&nbsp;</p>
					<div class="row">						
						<div class="col-md-6">						
							<a onclick="clock.stop()" class="btn btn-danger btn-block btn-lg" id="stop_timer">Parar Cronômetro</a>
							<a onclick="clock.start()" class="btn btn-warning btn-block btn-lg" id="start_timer" style="display:none">Reiniciar Cronômetro</a>
						</div>
						<div class="col-md-6">						
							<a onclick="clock.setTime(0)" class="btn btn-info btn-block btn-lg">Zerar Cronômetro</a>
						</div>
					</div>
				</div>
				<div class="tab-pane animated fadeInUp active" id="inicio">
					<h1>Bem Vindo ao PPA 2020/2023</h1>
					<div id="lipsum">
					<h2>
						O que é o PPA?
					</h2>
					<p>O Plano Plurianual é uma lei de iniciativa do Poder Executivo, prevista no art. 165 da Constituição Federal, que estabelecerá, de forma regionalizada, as diretrizes, objetivos e metas da administração pública  para um período de 4 (quatro) anos.</p>
					<h2>
						Objetivos
					</h2>
					<p>
						Realizar as consultas públicas para subsidiar a elaboração do Plano Plurianual 2020-2023.
					</p>
					</div>						
				</div>
			</div>
		</div>
	</div>


<script type="text/javascript">
	var clock;
	setTimeout(function(){ 
		clock = $('.timer_moderador').FlipClock(0, {clockFace: 'MinuteCounter', countdown: true,
			callbacks: {
	        	stop: function() {
	        		if (clock.getTime() < 2) {
	        			swal("Tempo Esgotado", "O tempo configurado para o timer terminou!", "info");
	        		};
	        		$('#stop_timer').hide()
	        		$('#start_timer').show()
	        	}, 
	        	start: function() {
	        		$('#stop_timer').show()
	        		$('#start_timer').hide()
	        	}
	        }
	})
	}, 300);
	
	function set_clock() {
		clock.setTime($('#clock').val()*60)
		clock.start()
	};

	function remove_vote_action (id) {
		$.ajax({
			url: "<%= reply_deeds_path %>/" + id,
			type: 'DELETE'
		});
	}

	function remove_all_vote_action (id) {
		$.get("<%= reply_deeds_path %>/" + id + "/delete_eq")
	}

	function display_table () {
		$('#style_grid').html(".grid_votes{display: none;}.table_votes{display: block;}")
	}

	function display_grid () {
		$('#style_grid').html(".grid_votes{display: block;}.table_votes{display: none;}")
	}
</script>