<%= content_for :title do "#{@event.date} - #{@event.name}" end %>
<%= content_for :icon_page do "fa-calendar" end %>
<p>&nbsp;</p>
<div id="stats">
	<%= render partial:'stats_entries', locals:{event:@event, themes:@themes} %>
</div>

<%= render 'refresh_painel' %>