<div class="col-md-3 hidden-print" style="position:fixed">
	<div class="widget">
		<div class="widget-head">
			<h4 class="heading">Ferramentas</h4>
		</div>
		<div class="widget-body">
			<%= link_to "Atualizar Página", url_for(params), class:"btn btn-info btn-block" %>
			<%= link_to "Lista de Participantes", lista_participantes_path(event_id:@event.id, theme_id:@theme.id), class:"btn btn-info btn-block no-ajaxify", target:"_blank" %>
			<%= link_to "Exportar para Word",  params.merge(:format => :docx), class:"btn btn-info btn-block no-ajaxify" %>
		</div>
	</div>
	<div class="widget">
		<div class="widget-head">
			<h4 class="heading">Registros</h4>
		</div>
		<div class="widget-body">
			<%= link_to "Add Registro Inicial", new_comment_path(event_id:@event.id, theme_id:@theme.id, tipo: :inicio), class:"btn btn-info btn-block no-ajaxify", remote: true %>
			<%= link_to "Add Registro Final", new_comment_path(event_id:@event.id, theme_id:@theme.id, tipo: :fim), class:"btn btn-info btn-block no-ajaxify", remote: true %>
			<% @questions.each_with_index do |question, index| %>
				<%= link_to "Registros da Discussão #{index +1}", new_comment_path(event_id:@event.id, theme_id:@theme.id, question_id:question.id, tipo: :tema), class:"btn btn-info btn-block no-ajaxify", remote: true %>
			<% end %>
		</div>
	</div>
</div>
<div class="col-md-9 col-md-offset-3">
	<div class="widget innerAll inner2x">
		<h2 class="center">Consulta Pública - <%= @event.name %> - <%= @theme  %></h2>
		<p>&nbsp;</p> 
		<div class="widget innerAll inner-2x">			
			<h3>Introdução</h3>
			<p>
				<%= Configuration.get("intro") %>
			</p>
		</div>
		<div class="widget innerAll inner-2x">
			<h3>Sobre a Consulta</h3>
			<p>
				A consulta foi realizada no dia <%= @event.date  %> em <%= @event.place %> com a presença de <%= @event.total_subscribers  %> participantes, sendo <%= @theme.total_subscribers(@event)  %> presentes nesta sala.
			</p>
		</div>
		<div class="widget innerAll inner-2x">
			<h3>Tema: <%= @theme  %></h3>
			<p>
				<%= @theme.description  %>
			</p>
			<p>&nbsp;</p>
			<h4><i>Programas</i></h4>
			<div class="widget"></div>
			<p>				
				<% @theme.subthemes.each do |subtheme|  %>
				<div class="innerAll">				
					<h4><%= subtheme %></h4>
					<p>
						<%= subtheme.description %>
					</p>
				</div>
				<% end %>
			</p>

		</div>
		<div class="widget innerAll inner-2x">
			<h3>Registros Iniciais</h3>
			<div id="comments_type_inicial">			
				<% @comments_inicio.each do |comment| %>
				<%= render partial:'home/comment', locals:{comment:comment} %>
				<% end %>

				<% if @comments_inicio.blank? %>
					Nenhum registro foi realizado.
				<% end %>
			</div>
		</div>
		<% @questions.each do |question| %>
		<div class="widget innerAll inner-2x">
			<h3><%= question %></h3>
			<p>Realizamos a seguinte pergunta aos participantes: <i>'<%= question  %>'</i>.</p>
			<p> <%= question.description  %></p>
			<p>Dentre as desafios propostos pedimos para que fossem priorizadas <%= question.limit  %>. São elas:</p>
			<div class="widget innerAll">				
				<% question.votes_theme_ranking(@theme, @event).each_with_index do |vote,index| %>
					<div class="innerAll">
						<h4><%= index +1 %> - <%= vote.reply  %> <small>(<%= vote.value %> votos)</small></h4>
						<p><%= vote.reply.description  %></p>
					</div>
				<% end %>
			</div>
			<p>Sendo que todas os seguintes desafios foram citados: </p>
			<p>
				<% question.votes.where(theme:@theme).where(event:@event).each do |vote|  %>
					<%= vote.reply  %> (<%= vote.value  %> votos), 
				<% end %>.
			</p>
			<p>&nbsp;</p>
			<h4><i>Registros da Discussão</i></h4>
			<div class="widget"></div>
			<% @event.comments.tema.where(question:question, theme:@theme).each do |comment| %>
				<div class="widget innerAll">				
					<%= render partial:'home/comment', locals:{comment:comment} %>
				</div>
			<% end %>
		</div>
		<% end %>
		<div class="widget innerAll inner-2x">
			<h3>Registros Finais</h3>
			<div id="comments_type_final">			
				<% @comments_fim.each do |comment| %>
					<%= render partial:'home/comment', locals:{comment:comment} %>
				<% end %>

				<% if @event.comments.fim.blank? %>
					Nenhum registro foi realizado.
				<% end %>
			</div>
		</div>
	</div>
</div>
