<%= content_for :head do  %>
<link href="/chart/chartist.min.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
<script src="/chart/chartist.js"></script>
<script type="text/javascript" src="/drw/js/sketch.js"></script>
<link rel="stylesheet" type="text/css" href="/drw/css/canvas_style.css">
<script type="text/javascript" src="/flipclock/flipclock.js"></script>
<link rel="stylesheet" href="/flipclock/flipclock.css">
<% end %>
<div class="row">	
	<div class="col-md-6">
		<div class="widget media margin-none ">
			<%= link_to plenaria_path, class:"pull-left bg-#{@theme.color} innerAll text-center text-white" do %>
			<i class="fa fa-fw <%= @theme.icon  %> fa-5x"></i>
			<% end %>
			<div class="media-body innerAll">
				<h4 class="media-heading innerT">
					<%= link_to @theme, plenaria_path,  class:"text-inverse" %> 
				</h4>
				<%= @theme.subthemes.count %> Programas
			</div>
		</div>
		<p>&nbsp;</p>
	</div>
	<div class="col-md-3">
		<div class="widget innerAll inner-2x center" style="height:102px">
			<h2><%= @theme.total_subscribers(@event)  %> Participantes</h2>
		</div>
	</div>
	<div class="col-md-3">
		<div class="widget innerAll inner-2x center" style="height:102px">
			<h2><%= @event.place  %></h2>
		</div>
	</div>
</div>

<div class="relativeWrap">
	<div class="widget widget-4 widget-tabs-icons-only margin-bottom-none">
		<!-- Widget Heading -->
		<div class="widget-head">
			<!-- Tabs -->
			<ul class="pull-left">
				<li class="glyphicons display active">
					<span data-toggle="tab" data-target="#theme_tab"><i>1</i>
					</span>
				</li>
				<li class="glyphicons notes_2">
					<span data-toggle="tab" data-target="#subtheme_tab"><i>2</i>
					</span>
				</li>
				<% @questions.each do |question| %>
				<% question.votes_theme_ranking(@theme, @event).each_with_index do |vote,index| %>
				<li class="glyphicons">
					<span data-toggle="tab" data-target="#question_<%= question.id  %>_<%= index + 3  %>"><i class="text-inverse"><%= index + 1 %></i>
					</span>
				</li>
				<% end %>
				<% end %>
				<li class="glyphicons list">
					<span data-toggle="tab" data-target="#tab4-7"><i></i>
					</span>
				</li>
				<li class="glyphicons pie_chart" onclick="ver_grafico_1()">
					<span data-toggle="tab" data-target="#tab4-6"><i></i>
					</span>
				</li>
				<li class="glyphicons cup">
					<span data-toggle="tab" data-target="#tab4-5"><i></i>
					</span>
				</li>
			</ul>
			<% if params[:action] == "presentation" %>
				&nbsp; << Utilize o menu para passar os slides
			<% end %>
			<div class="clearfix"></div>
			<!-- // Tabs END -->
		</div>
		<!-- Widget Heading END -->
		<div class="widget-body">
			<div class="tab-content">
				<!-- Tab content -->
				<div id="theme_tab" class="tab-pane active box-generic bg-<%= @theme.color %> center text-large innerAll inner-2x text-white">
					<p>&nbsp;</p>
					<i class="fa fa-fw <%= @theme.icon  %> fa-5x"></i>
					<p>&nbsp;</p>
					<%= @theme  %>
					<p>&nbsp;</p>
				</div>
				<!-- // Tab content END -->
				<!-- Tab content -->
				<div id="subtheme_tab" class="tab-pane box-generic">
					<h1>Programas</h1>
					<div class="widget"></div>
					<div class="innerAll inner-2x">						
						<ul>
							<% @theme.subthemes.each do |subtheme| %>
							<li><h2> <%= subtheme  %> </h2></li>
							<% end %>
						</ul>
					</div>
				</div>
				<!-- // Tab content END -->	
				<!-- Tab content -->
				<% @questions.each do |question| %>
				<% question.votes_theme_ranking(@theme, @event).each_with_index do |vote,index| %>
				<div id="question_<%= question.id  %>_<%= index + 3  %>" class="tab-pane box-generic">
					<h1><%= vote.reply %></h1>
					<p>&nbsp;</p>
					<div class="widget widget-heading-simple widget-body-white " onclick="pulse_it($(this))">
						<div class="widget-body innerAll inner-2x">
							<i class="fa fa-comments fa fa-4x pull-left fa fa-muted"></i>
							<h2 class="innerAll center strong"><%= vote.reply.description %></h2>
						</div>
					</div>
					<div class="bg-<%= @theme.color %> widget widget-heading-simple text-white " onclick="pulse_it($(this))">
						<div class="widget-body innerAll inner-2x">
							<i class="fa fa-thumbs-up fa fa-4x pull-left fa fa-muted"></i>
							<div>								
								<% vote.reply_deeds.group_by(&:deed).each do |deed, reply_deeds| %>
									<h2 class="innerAll center strong"><%= deed %></h2>
									<% if !deed.description.blank? %>
										
									<div class="widget innerAll inner-2x text-inverse">										
										<h3 class="center"><%= deed.description %></h3>
									</div>
									<% end %>
								<% end %>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<% end %>
				<% end %>
				<!-- // Tab content END -->
				<!-- Tab content -->
				<div id="tab4-5" class="tab-pane box-generic">					
					<h1>Ranking de Ações</h1>
					<div class="widget"></div>
					<div class="innerAll inner-2x">						
						<% @deed_ranking.each.each_with_index do |ranking, index| %>
						<h2><%= index + 1  %> - <%= ranking[:deed] %> </h2>
						<% end %>
					</div>
				</div>
				<div id="tab4-6" class="tab-pane box-generic">				
					<h1>Gráfico</h1>
					<div class="widget"></div>
					<div class="innerAll inner-2x">
						<% @questions.each do |question| %>					
						<div onclick="ver_grafico_<%= question.id  %>()" class="btn btn-info pull-right btn-sm"> Ver Gráfico</div>
							<%= render partial:'home/chart_question', locals:{votes:question.votes_theme_ranking(@theme, @event).each, question:question} %>
						<% end %>
					</div>
				</div>
				<div id="tab4-7" class="tab-pane box-generic">				
					<h1>Ranking de Desafios</h1>
					<div class="widget"></div>
					<div class="innerAll inner-2x">
						<% @questions.each do |question| %>					
						<% question.votes_theme_ranking(@theme, @event).each_with_index do |vote, index| %>
							<%= render partial:'home/votes_question_plenaria', locals:{index:index, vote:vote} %>
							<% end %>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= content_for :scripts do %>
	<script type="text/javascript">
	function pulse_it (el) {
		el.addClass('animated pulse');
		setTimeout(
			function(){
				el.removeClass('animated pulse');
			}
		, 1300);
	}
	</script>
<% end %>
