<div class="col-md-8 col-md-offset-2">
	<div class="widget innerAll inner2x">
		<h2 class="center">Consulta Pública - <%= @event.name %></h2>
		<p>&nbsp;</p> 
		<div class="widget innerAll inner-2x">			
			<h3>Introdução</h3>
			<p>
				<%= Configuration.get("intro") %>
			</p>
		</div>
		<div class="widget innerAll inner-2x">
			<h3>Sobre a Consulta</h3>
			<p>
				A consulta foi realizada no dia <%= @event.date  %> em <%= @event.place %> com a presença de <%= @event.total_subscribers  %> participantes credenciados para as salas temáticas.
			</p>
		</div>
	</div>
		<% Theme.all.each do |theme|  %>
		<div class="widget innerAll inner2x">
			<%= render partial:'theme_result', locals:{theme:theme, event:@event} %>
		</div>
		<% end %>
	<div class="widget innerAll inner2x">
		<div class="widget innerAll inner-2x">
			<h3>Ranking dos Desafios</h3>
			<ul class="list-group list-group-1 margin-none borders-none">
				<% @ranking_priority.each do |ranking| %>
					<li class="list-group-item animated fadeInUp">
						<a>
							<span class="badge pull-right badge-default"><%= ranking[:count]  %></span>
							<%= ranking[:reply] %>
							<p style="font-weight: normal;"><%= ranking[:reply].description %></p>
						</a>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="widget innerAll inner-2x">
			<h3>Ranking das Ações</h3>
			<ul class="list-group list-group-1 margin-none borders-none">
				<% @deed_ranking.each do |ranking| %>
					<li class="list-group-item animated fadeInUp">
						<a>
							<span class="badge pull-right badge-default"><%= ranking[:count]  %></span>
							<%= ranking[:deed] %>
							<p style="font-weight: normal;"><%= ranking[:deed].description %></p>
						</a>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
	<%= link_to "Exportar para Word",  params.merge(:format => :docx), class:"btn btn-info btn-block no-ajaxify hidden-print" %>
</div>