<%= form_tag(url_for(params), method: :get) do %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget media margin-none bg-gray ">
      <a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-settings-wheel-fill fa-5x"></i></a>
      <div class="media-body innerAll">
        <h4 class="media-heading innerT"> Configurações</h4>                     
        <p>Selecione qual painel você deseja visualizar</p>
      </div>
      <div class="widget-body bg-white">
        <div class="field">
          <%= label :name, "Evento" %>
          <%= select_tag :event_id, options_from_collection_for_select(Event.all, 'id', 'name'), class:"form-control"  %>
          <p>&nbsp;</p>
        </div>
        <% if params[:action] != "painel_votacao_final" %>
          <div class="field">
            <%= label :name, "Tema" %>
              <%= select_tag :theme_id, options_from_collection_for_select(Theme.all, 'id', 'name'), class:"form-control"  %>
            <p>&nbsp;</p>
          </div>
        <% else %>
          <%= hidden_field_tag :theme_id, Theme.last.id %>
        <% end %>
        <div class="col-md-12 innerAll inner-2x">   
          <%= submit_tag  "Ir para Painel", class:"btn btn-lg btn-success btn-block" %>  
        </div>
      </div>  
    </div>
  </div>
</div>
<p>&nbsp;</p>
<% end %>