<!--
<div class="center">
	<img src="/logo.png" width="200px">
</div>
<p>&nbsp;</p>

<div class="box-generic innerAll inner-2x" id="themes">
	<div class="row">
		<#% @themes.each do |theme| %>
		<div class="col-sm-4">
			<div class="widget">
				<#%= link_to theme, class:"display-block bg-#{theme.color} innerAll text-center text-white" do  %>
				<i class="<#%= theme.icon %> fa-5x"></i>
				<#% end %>
				<div class="text-center innerAll">
					<h4><#%= theme %></h4>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<#% end %>
	</div>
</div>-->
<div class="box-generic innerAll inner-2x center" id="themes" style="margin-top: 8%">
  <img src="/ppalogo.png" width="70%" style="padding: 0; border: 0;" >

</div>

<div class="box-generic innerAll inner-2x jumbotron" id="names" style="display:none; padding: 30px; margin-top: 8%;">

	<h1 class="center"><small class="text-inverse" style="padding: 30px;">Olha quem veio decidir o Tocantins que deseja:</small></h1>
	<div id="name" style="padding-top: 30px;">
		
	</div>
	<br>
	<h2 class="center">Certificados disponíveis no site da SEFAZ na próxima semana <br>
	www.sefaz.to.gov.br</h2>
	
</div>
<%= content_for :scripts do  %>
<script type="text/javascript">
	
	function show_themes() {
		$('#themes').removeClass('flipOutY pulse');
		$('#names').removeClass('flipInY pulse');
		$('#names').addClass('flipOutY pulse');
		$('#names').hide()
		$('#themes').show()
		$('#themes').addClass('flipInY pulse');
		setTimeout(
			function()
			{
				get_names()
			}
			, 10000);
	}

	function get_names () {
		$('#names').removeClass('flipOutY pulse');
		$('#themes').removeClass('flipInY pulse');
		$.get('<%= names_event_path(@event)  %>')
		$('#themes').addClass('flipOutY pulse');
		$('#themes').hide()
		$('#names').show()
		$('#names').addClass('flipInY pulse');
		setTimeout(
			function()
			{
				show_themes()
			}
			, 10000);
	}

	setTimeout(
		function()
		{
			get_names()
		}
		, 5000);
	<% if params[:salao] %>
	function show_video(src){
		video = $('#video')
		$('#video_div').slideDown();
		video.attr('src', '/videos/' + src);
		video.get(0).loop = false
		video.get(0).play();
	};


	function get_video_1(){
		show_video("salao_1.mp4");
		setTimeout(
			function()
			{
				get_video_2()
			}
			, 300000);
	};

	function get_video_2(){
		show_video("salao_1.mp4");
		setTimeout(
			function()
			{
				get_video_1()
			}
			, 300000);
	}


	get_video_1();
	$('#video').on('ended',function(){
      //console.log('Video has ended!');
		$('#video_div').slideUp();
    });
    <% end %>
</script>
<% end %>