<p>&nbsp;</p>
<div class="box-generic innerAll inner-2x" id="themes">
	<div class="row">
		<div class="center">
		<img src="/logo.png" width="100%">
		</div>
	</div>
</div>
<div class="box-generic innerAll inner-2x jumbotron" id="names" style="display:none">
	<h1 class="center"><small class="text-inverse">Hoje o Planejamento está mais perto de:</small></h1>
	<p>&nbsp;</p>
	<div id="name">		
		
	</div>
</div>
<%= content_for :scripts do  %>
<script type="text/javascript">
	
	function show_themes() {
		$('#themes').removeClass('flipOutY pulse');
		$('#names').removeClass('flipInY pulse');
		$('#names').addClass('flipOutY pulse');
		$('#names').hide()
		$('#themes').show()
		$('#themes').addClass('flipInY pulse');
		setTimeout(
			function()
			{
				get_names()
			}
			, 10000);
	}

	function get_names () {
		$('#names').removeClass('flipOutY pulse');
		$('#themes').removeClass('flipInY pulse');
		$.get('<%= names_event_path(@event)  %>')
		$('#themes').addClass('flipOutY pulse');
		$('#themes').hide()
		$('#names').show()
		$('#names').addClass('flipInY pulse');
		setTimeout(
			function()
			{
				show_themes()
			}
			, 10000);
	}

	setTimeout(
		function()
		{
			get_names()
		}
		, 5000);
	<% if params[:salao] %>
	function show_video(src){
		video = $('#video')
		$('#video_div').slideDown();
		video.attr('src', '/videos/' + src);
		video.get(0).loop = false
		video.get(0).play();
	};


	function get_video_1(){
		show_video("salao_1.mp4");
		setTimeout(
			function()
			{
				get_video_2()
			}
			, 300000);
	};

	function get_video_2(){
		show_video("salao_1.mp4");
		setTimeout(
			function()
			{
				get_video_1()
			}
			, 300000);
	}


	get_video_1();
	$('#video').on('ended',function(){
      //console.log('Video has ended!');
      $('#video_div').slideUp();
  });
	<% end %>
</script>
<% end %>