<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget media margin-none bg-gray ">
      <a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-calendar-1 fa-5x"></i></a>
      <div class="media-body innerAll">
        <h4 class="media-heading innerT"> Gerenciar Evento</h4>                     
        <p>Configure os Eventos que ocorrerão o PPA.</p>
      </div>
      <div class="widget-body bg-white">
        <div class="field">
          <%= f.label :name, "Nome" %>
          <%= f.text_field :name, class:"form-control" %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.label :place, "Local do Evento" %>
          <%= f.text_field :place, class:"form-control" %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.label :date, "Data" %>
          <%= f.text_field :date, class:"form-control datepicker" %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.label :capacity, "Capacidade do Evento" %>
          <%= f.number_field :capacity, class:"form-control" %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.label :capacity_room, "Capacidade das Salas" %>
          <%= f.number_field :capacity_room, class:"form-control" %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.text_area :description, class:"form-control", placeholder: "Descreva em poucas palavras...", rows:5%>
          <p>&nbsp;</p>
        </div>
        <div class="col-md-12 innerAll inner-2x">   
          <%= f.submit "Salvar Evento", class:"btn btn-lg btn-success btn-block" %>  
        </div>
      </div>  
    </div>
  </div>
</div>
<p>&nbsp;</p>
<% end %>
