<%= content_for :title do "Eventos" end %>
<%= content_for :icon_page do "fa-comments"  end %>
<%= content_for :botao_add do  %>
  <%= link_to "Novo", new_event_path, class:"btn btn-info" %>
<% end %>
<div class="widget">
  <% @events.each do |event| %>

  <div class="bg-gray-hover overflow-hidden">
    <div class="row innerAll half border-bottom">

      <div class="col-sm-6 col-xs-8">
        <ul class="media-list margin-none">
          <li class="media">
            <a class="pull-left innerAll half " href="#">
              <span class="empty-photo">
                <i class="text-muted fa  fa-comments"></i>
              </span>
            </a>
            <div class="media-body">
              <div class="innerAll half">
                <h4 class="margin-none">       
                  <%= link_to event.name, event  %>               
                </h4>
                <div class="clearfix">                
                </div>
                 <small class="margin-none text-muted">Capacidade: <%= event.capacity %></small>
              </div>
            </div>

          </li>
        </ul>
      </div>


      <div class="col-sm-3 col-xs-hidden margin-none">
        <div class="innerAll half">
          <div class="media">
            <div class="media-body ">
              <span class="text-small">Data:</span>
              <div class="clearfix"></div>
              <small><%= event.date  %></small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-hidden margin-none">
        <div class="innerAll half">
          <div class="media">
            <div class="media-body ">
              <%= link_to :editar, edit_event_path(event), class:"btn btn-success" %>
              <%= link_to :apagar, event, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' }, class:"btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
