<%= content_for :title do "#{@event.date} - #{@event.name}" end %>
<%= content_for :icon_page do "fa-calendar" end %>
<p>&nbsp;</p>
<div class="widget widget-body-gray">
	<div class="widget-body padding-none">
		<div class="bg-<%= bg_widget_capacity(@event.overbooked?)  %> innerAll">
			<div class="text-large text-white pull-right"><%= @event.total_subscribers %></div>
			<h4 class="text-white strong text-medium">
				Total de Inscritos
				<% if @event.overbooked? %>
				<small><span class="label label-warning ">lotado</span></small>
				<% end %>
			</h4>
			<h5 class="text-white margin-none">A capacidade total foi definida para <%= @event.capacity  %> pessoas</h5>
			<div class="separator bottom"></div>
			<div class="progress primary progress-mini  margin-none">
				<div class="progress-bar progress-bar-white	" style="width: <%= @event.percent_subscribers  %>%;"></div>
			</div>
		</div>
	</div>
</div>
<% @event.entries.group_by(&:theme).each do |theme, entries| %>
	<div class="widget">
		<div class="widget-head">
			<h4 class="heading"><%= theme  %></h4>
		</div>
		<div class="widget-body">
			<table class="table table-condensed table-striped table-primary table-vertical-center checkboxs" id="<%= theme %>">
				<thead>
					<th>#</th>
					<th>Nome</th>
					<th>Função</th>
					<th>Cidade</th>
					<th>CPF</th>
				</thead>
				<tbody>
					<% entries.sort{|a,b| a.person.name <=> b.person.name}.each_with_index do |entry, index | %>
						<tr>
							<td><%= index +1   %></td>
							<td><%= entry.person %></td>
							<td><%= entry.person.function %></td>
							<td><%= entry.person.city %></td>
							<td><%= entry.person.cpf %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
<% end %>