<div class="row">
	<% @event.votes.group_by(&:theme).each do |theme,votes| %>
		
		<% voto = votes.sort_by{|i| - i.value}.first %>

		<div class=" col s3">	
			<div class="widget-body bg-white">
		        <div class="field">
		        	Desafio
		          <%= voto.reply %>
		          <%= voto.theme %>
		          <p>&nbsp;</p>
		        </div>
		    </div>
	    </div>
	<% end %>
</div>