<%= form_for(@document) do |f| %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget media margin-none bg-gray ">
      <a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-cloudy-fill fa-5x"></i></a>
      <div class="media-body innerAll">
        <h4 class="media-heading innerT"> Gerenciar Documento</h4>                     
        <p>Salve e Compartilhe os documentos do PPA.</p>
      </div>
      <div class="widget-body bg-white">
        <div class="field">
          <%= f.label :name, "Nome" %>
          <%= f.text_field :name, class:"form-control" %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.label :theme_id, "Tema" %>
          <%= f.select :theme_id, @themes, {include_blank: true}, {class:"form-control"} %>
          <p>&nbsp;</p>
        </div>
        <div class="fileupload fileupload-new margin-none" data-provides="fileupload">
          <div class="input-group">
            <div class="form-control col-md-3"><i class="fa fa-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
            <span class="input-group-btn">
              <span class="btn btn-info btn-file">
                  <span class="fileupload-new">Selecione o Arquivo</span>
                  <span class="fileupload-exists">Alterar</span>
                  <%= f.file_field :file, class: "margin-none" %>
              </span>
              <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
            </span>
          </div>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.text_area :description, class:"form-control", placeholder: "Descreva em poucas palavras...", rows:5%>
          <p>&nbsp;</p>
        </div>
        <div class="col-md-12 innerAll inner-2x">   
          <%= f.submit "Salvar Documento", class:"btn btn-lg btn-success btn-block" %>  
        </div>
      </div>  
    </div>
  </div>
</div>
<p>&nbsp;</p>
<% end %>
