<%= content_for :title do "Documentos" end %>
<%= content_for :icon_page do "fa-comments"  end %>
<%= content_for :botao_add do  %>
  <%= link_to "Novo", new_document_path, class:"btn btn-info" %>
<% end %>
<div class="widget">
  <!-- Category Heading -->
  <%= search_form_for @q do |f| %>
  <div class="input-group input-group-lg border-bottom">
    <span class="input-group-btn">
      <a href="" class="btn"><i class="fa fa-search text-muted"></i></a>
    </span>
    <%= f.text_field :name_or_description_cont, class: "form-control border-none", placeholder:"Pesquisa" %>
  </div>
  <% end %>
  <% @documents.each do |document| %>

  <div class="bg-gray-hover overflow-hidden">
    <div class="row innerAll half border-bottom">

      <div class="col-sm-6 col-xs-8">
        <ul class="media-list margin-none">
          <li class="media">
            <a class="pull-left innerAll half " href="#">
              <span class="empty-photo">
                <i class="text-muted fa  fa-comments"></i>
              </span>
            </a>
            <div class="media-body">
              <div class="innerAll half">
                <h4 class="margin-none">       
                  <%= link_to document.name, document  %>               
                </h4>
                <div class="clearfix">                
                </div>
                 <small class="margin-none text-muted"><%= document.user %> | <%= document.theme %></small>
              </div>
            </div>

          </li>
        </ul>
      </div>


      <div class="col-sm-3 col-xs-hidden margin-none">
        <div class="innerAll half">
          <div class="media">
            <div class="media-body ">
              <span class="text-small">Criado em </span>
              <div class="clearfix"></div>
              <small><%= document.created_at  %></small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-hidden margin-none">
        <div class="innerAll half">
          <div class="media">
            <div class="media-body ">
              <%= link_to :ver, document, class:"btn btn-info" %>
              <%= link_to :editar, edit_document_path(document), class:"btn btn-success" %>
              <%= link_to :apagar, document, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' }, class:"btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= paginate @documents %>