<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget media margin-none bg-gray ">
      <a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-cloudy-fill fa-5x"></i></a>
      <div class="media-body innerAll">
        <h4 class="media-heading innerT"> <%= @document.name  %></h4>                     
        <p><%= @document.theme  %></p>
      </div>
      <div class="widget-body bg-white">
        <div class="field center innerAll inner-2x">
        	<%= @document.description %>
        	<p>&nbsp;</p>
        </div>
        <div class="col-md-12 innerAll inner-2x">   
          <%= link_to "Baixar Arquivo", @document.file.url, class:"btn btn-info btn-lg btn-block", target: :_blank %> 
        </div>
      </div>  
    </div>
  </div>
</div>
<p>&nbsp;</p>