<%= form_for(@deed) do |f| %>
  <% if @deed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deed.errors.count, "error") %> prohibited this deed from being saved:</h2>

      <ul>
      <% @deed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :subtheme_id %><br>
    <%= f.text_field :subtheme_id %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
