<% Theme.all.each do |theme| %>
<div class="widget">
  <div class="widget-head">
    <h4 class="heading"><%= theme %></h4>
  </div>
  <div class="widget-body">
    <% theme.subthemes.each do |subtheme|  %>
    <div class="widget">
      <div class="widget-head">
        <h4 class="heading"><%= subtheme %></h4>
      </div>
      <div class="widget-body">
        <table class="table table-condensed table-striped table-primary table-vertical-center">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nome</th>
            </tr>
          </thead>

          <tbody>
            <% @deeds.where(subtheme:subtheme).each do |deed| %>
            <tr>
              <td><%= deed.id %></td>
              <td><%= deed.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  </div>
</div>
<% end %>
