<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deed.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deed.description %>
</p>

<p>
  <strong>Subtheme:</strong>
  <%= @deed.subtheme %>
</p>

<p>
  <strong>Code:</strong>
  <%= @deed.code %>
</p>

<%= link_to 'Edit', edit_deed_path(@deed) %> |
<%= link_to 'Back', deeds_path %>
