<style type="text/css">
  #notyfy_container_top{
    top:0px;
  }
</style>
<div style="top:-50px; position:relative">  
  <div class="center">
    <img src="/logo.png" width="200px" >
  </div> <br>

  <div class="container">
    <!-- row-app -->
    <div class="row row-app">
      <!-- col -->
      <!-- col-separator.box -->
      <div class="col-separator col-unscrollable box">
        <!-- col-table -->
        <div class="col-table">
          <!-- col-table-row -->
          <div class="col-table-row">
            <!-- col-app -->
            <div class="col-app col-unscrollable">
              <!-- col-app -->
              <div class="col-app">
                <div class="login">
                  <div class="panel panel-default col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
                    <div class="panel-body">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name),role:"form") do |f| %>

                      <div class="form-group">

                        <div class="input-group">
                          <span class="input-group-addon bg-gray"><i class="fa fa-envelope fa-2x"></i></span>
                          <%= f.email_field :email, autofocus: true, class: "form-control col-md-12 input-lg",placeholder: "Digite seu e-mail"  %>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon bg-gray"><i class=" icon-lock-fill fa-2x"></i>&nbsp;</span>
                          <%= f.password_field :password, autocomplete: "off", class: "form-control col-md-12 input-lg",placeholder: "Digite sua senha" %>
                        </div>
                      </div>
                      <div class="">
                        <%= f.submit "Entrar",class: "btn btn-info btn-block btn-lg" %>
                        <br/>
                      </div>
                     <div class="form-group pull-right">
                      <% if devise_mapping.rememberable? -%>
                      <div class="checkbox">
                        <label class="checkbox-custom">
                          <%= f.check_box :remember_me %>
                          <i class="fa fa-fw fa-square-o checked"></i> Lembre-se de mim
                        </label>
                      </div>
                      <% end -%>
                    </div>
                  </div>
                  <% end %>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-app" id="botao" >
              <div class="login center">
                <div class="btn btn-danger btn-lg" onclick="show_links()">
                  <i class="fa fa-unlink"></i> Problemas no Acesso?
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-app" style="display:none;" id="links">
              <div class="login">
                <div class="panel panel-default col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
                  <div class="panel-body">
                   <%= render "devise/shared/links" %>
                 </div>
               </div>
               <div class="clearfix"></div>
             </div>
           </div>
           <!-- // END col-app -->
         </div>
         <!-- // END col-app.col-unscrollable -->
       </div>
       <!-- // END col-table-row -->
     </div>
     <!-- // END col-table -->
   </div>
   <!-- // END col-separator.box -->
 </div>
</div>
<script type="text/javascript">
  function show_links () {
    $('#botao').hide()
    $('#links').fadeIn()
  }
</script>
<script src="/mosaicpro/components/common/forms/elements/fuelux-checkbox/fuelux-checkbox.init.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>