<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>PPA 2019-2023</title>
    <meta name="description" content="">
    <meta name="author" content="WebThemez">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
     <![endif]-->
     <link rel="stylesheet" href="/site/css/bootstrap.min.css" />
     <link rel="stylesheet" type="text/css" href="/site/css/isotope.css" media="screen" />
     <link rel="stylesheet" href="/site/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
     <link rel="stylesheet" type="text/css" href="/site/css/da-slider.css" />
     <!-- Owl Carousel Assets -->
     <link href="/site/js/owl-carousel/owl.carousel.css" rel="stylesheet">
     <link rel="stylesheet" href="/site/css/styles.css" />
     <!-- Font Awesome -->
     <link href="/site/font/css/font-awesome.min.css" rel="stylesheet">
     <script type="text/javascript">
        window.addEventListener('message', function(e) {
            eval(e.data);
        //console.log('página recebeu:' + e.data);
    });

        document.write('<iframe id="barra-topo" src="http://barra.to.gov.br/topo.php?seplan.to.gov.br" frameborder="no" scrolling="no" width="100%" height="172px"></iframe>');
        document.write('<style>.traste, .traste * { background: black !important; color:white !important; border-color: #333; }</style>');

        var iframeBarraTopo = document.getElementById('barra-topo');
        iframeBarraTopo.addEventListener('load', function(){
        //iframeBarraTopo.contentWindow.postMessage('hi', '//barra.to.gov.br/');
    });


        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-3856738-73', 'auto');
        ga('send', 'pageview');

        ga('create', 'UA-3856738-47', 'auto', {'name': 'newTracker'});
        ga('newTracker.send', 'pageview');
    </script>
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top logo"><b><img src="/site/images/logo.png" height="65px" style="top:-20px; position:relative;"></b></a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="mainNav">
                        <li><a href="#aboutUs" class="scroll-link">Sobre o PPA</a></li>
                        <li><a href="#skills" class="scroll-link">Mapa</a></li>
                        <li><a href="#experience" class="scroll-link">Encontros Regionais</a></li>
                        <li><a href="http://ppa.seplan.to.gov.br/web/certificado" class="scroll-link">Certificados</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </header>
    <!--/.header-->
    <div id="#top"></div>
    <section id="home">
        <div class="banner-container">
            <img src="/site/images/banner-bg.jpg" alt="banner" />
            <div class="container banner-content hidden-xs">
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <h2>Bico do Papagaio</h2>
                        <p>
                            - Aguiarnópolis <br>
                            - Ananás <br>
                            - Angico <br>
                            - Araguatins <br>
                            - Augustinópolis <br>
                            - Axixá do Tocantins <br>
                            - Buriti do Tocantins <br>
                            - Cachoeirinha <br>
                            - Carrasco Bonito <br>
                            -  Darcinópolis <br>
                            -  Esperantina <br>
                            -  Itaguatins <br>
                            -  Luzinópolis <br>
                            -  Maurilândia do Tocantins <br>
                            -  Nazaré <br>
                            -  Palmeiras do Tocantins <br>
                            -  Praia Norte <br>
                            -  Riachinho <br>
                        </p>
                        <div class="da-img"></div>
                    </div>

                    <div class="da-slide">
                        <h2>Bico do Papagaio</h2>
                        <p>
                            -  Sampaio <br>
                            -  Santa Terezinha do Tocantins <br>
                            -  São Bento do Tocantins <br>
                            -  São Miguel do Tocantins <br>
                            -  São Sebastião do Tocantins <br>
                            -  Sítio Novo do Tocantins <br>
                            -  Tocantinópolis <br>
                        </p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Região Norte</h2>
                        <p>
                            - Aragominas <br>
                            - Araguaína <br>
                            - Araguanã <br>
                            - Babaçulândia <br>
                            - Carmolândia <br>
                            - Filadélfia <br>
                            - Muricilândia <br>
                            - Nova Olinda <br>
                            - Palmeirante <br>
                            - Piraquê <br>
                            - Santa Fé do Araguaia <br>
                            - Wanderlândia <br>
                            - Xambioá <br>
                        </p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Região Sudeste</h2>
                        <p>
                            - Almas <br>
                            - Arraias <br>
                            - Aurora do Tocantins <br>
                            - Chapada da Natividade <br>
                            - Combinado <br>
                            - Conceição do Tocantins <br>
                            - Dianópolis <br>
                            - Lavandeira <br>
                            - Natividade <br>
                            - Novo Alegre <br>
                            - Novo Jardim <br>
                            - Paranã <br>
                            - Pindorama do Tocantins <br>
                            - Ponte Alta do Bom Jesus <br>
                            - Porto Alegre do Tocantins <br>
                            - Rio da Conceição <br>
                            - São Valério da Natividade <br>
                            - Taguatinga <br>
                            - Taipas do Tocantins <br>
                        </p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Região Sul</h2>
                        <p>
                            - Alvorada <br>
                            - Araguaçu <br>
                            - Cariri do Tocantins <br>
                            - Figueirópolis <br>
                            - Formoso do Araguaia <br>
                            - Gurupi <br>
                            - Jaú do Tocantins <br>
                            - Palmeirópolis <br>
                            - Peixe <br>
                            -  Sandolândia <br>
                            -  São Salvador do Tocantins <br>
                            -  Sucupira <br>
                            -  Talismã <br>
                        </p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Região Nordeste</h2>
                        <p>
                            - Barra do Ouro <br>
                            - Bom Jesus do Tocantins <br>
                            - Campos Lindos <br>
                            - Centenário <br>
                            - Goiatins <br>
                            - Itacajá <br>
                            - Pedro Afonso <br>
                            - Recursolândia <br>
                            - Santa Maria do Tocantins <br>
                            -  Tupirama <br>
                        </p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Região Noroeste</h2>
                        <p>
                            - Arapoema <br>
                            - Bandeirantes do Tocantins <br>
                            - Bernardo Sayão <br>
                            - Brasilândia do Tocantins <br>
                            - Colinas do Tocantins <br>
                            - Colméia <br>
                            - Couto de Magalhães <br>
                            - Fortaleza do Tabocão <br>
                            - Goianorte <br>
                            -  Guaraí <br>
                            -  Itapiratins <br>
                            -  Itaporã do Tocantins <br>
                            -  Juarina <br>
                            -  Pau d'Arco <br>
                            -  Pequizeiro <br>
                            -  Presidente Kennedy <br>
                            -  Rio dos Bois <br>
                            -  Tupiratins <br>
                        </p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Central e Jalapão</h2>
                        <p>
                            - Aparecida do Rio Negro <br>
                            - Brejinho de Nazaré <br>
                            - Fátima <br>
                            - Ipueiras <br>
                            - Lagoa do Tocantins <br>
                            - Lajeado <br>
                            - Lizarda <br>
                            - Mateiros <br>
                            - Miracema do Tocantins <br>
                            -  Miranorte <br>
                            -  Monte do Carmo <br>
                            -  Novo Acordo <br>
                            -  Oliveira de Fátima <br>
                            -  Palmas <br>
                            -  Ponte Alta do Tocantins <br>
                            -  Porto Nacional <br>
                            -  Rio Sono <br>
                            -  Santa Rosa do Tocantins <br>
                            -  Santa Tereza do Tocantins <br>
                            -  São Félix do Tocantins <br>
                            -  Silvanópolis <br>
                            -  Tocantínia <br>
                        </p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Centro-Oeste</h2>
                        <p>
                            - Abreulândia <br>
                            - Aliança do Tocantins <br>
                            - Araguacema <br>
                            - Barrolândia <br>
                            - Caseara <br>
                            - Chapada de Areia <br>
                            - Cristalândia <br>
                            - Crixás do Tocantins <br>
                            - Divinópolis do Tocantins <br>
                            -  Dois Irmãos do Tocantins <br>
                            -  Dueré <br>
                            -  Lagoa da Confusão <br>
                            -  Marianópolis do Tocantins <br>
                            -  Monte Santo do Tocantins <br>
                            -  Nova Rosalândia <br>
                            -  Paraíso do Tocantins <br>
                            -  Pium <br>
                            -  Pugmil <br>
                            - Santa Rita do Tocantins
                        </p>
                        <div class="da-img"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="introText">
        <div class="container">
            <div class="text-center">
                <h1>Plano Plurianual 2019-2023</h1>
                <p>Aqui se encontra todo conteúdo referente ao Plano Plurianual - PPA 2019-2023 a ser realizado em oito regiões do estado do Tocantins, a saber: Norte(Tocantinópolis e Xambioá), Sudeste (Natividade e Palmeirópolis), Nordeste (Pedro Afonso), Noroeste (Colinas do Tocantins), Centro e Jalapão (Aparecida do Rio Negro) e  Centro Oeste (Lagoa da Confusão)</p>
                <iframe src="https://player.vimeo.com/video/141216510?title=0&byline=0&portrait=0" width="500" height="333" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>

    </section>
    <!--About-->
    <section id="aboutUs" class="secPad">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>Projeto de elaboração do PPA 2019-2023</h2>
                <p>Planejamento Mais Perto de Você</p>
            </div>
            <div class="row">
                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                   <div class="txtHead"> 
                       <a href="http://central3.to.gov.br/arquivo/240461/" target="_blank"><i class="fa fa fa-lightbulb-o"></i>
                           <h3>Projeto de elaboração</h3></div>
                           <p>Baixe o projeto de elaboração do Plano Plurianual 2019-2023 do Estado do Tocantins.</p>
                       </a>
                   </div>
                   <!-- end: -->

                   <!-- item -->
                   <div class="col-md-4 text-center tileBox">
                    <div class="txtHead">
                        <a href="http://central3.to.gov.br/arquivo/238482/" target="_blank">
                            <i class="fa fa-desktop"></i>
                            <h3>Metodologia</h3></div>
                            <p>Conheça a Metodologia do PPA 2019-2023</p>
                        </a>
                    </div>
                    <!-- end: -->

                    <!-- item -->
                    <div class="col-md-4 text-center tileBox">
                        <a href="http://central3.to.gov.br/arquivo/238481/" target="_blank">
                            <div class="txtHead"><i class="fa fa-file"></i>
                                <h3>Manual</h3></div>
                                <p>Manual PPA 2019-2023 Orientações para elaboração dos Programas.</p>
                            </div>
                            <!-- end: -->
                        </a>
                    </div>
                </div>
            </section>

        <!--Experience-->
        <section id="experience" class="secPad">
         <div class="container">     
           <div class="heading text-center">
            <!-- Heading -->
            <h2>Encontros Regionais</h2>
            <p>Veja as Informações sobre os Encontros Regionais</p>
        </div>
        <div id="timeline"><div class="row timeline-movement timeline-movement-top">
            <div class="timeline-badge timeline-future-movement">
                <a href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="timeline-badge timeline-filter-movement">
                <a href="#">
                    <span class="glyphicon glyphicon-time"></span>
                </a>
            </div>

        </div>
        <div class="row timeline-movement">

            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">27</span>
                <span class="timeline-balloon-date-month">AGO</span>
            </div>


            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <a href="http://seplan.to.gov.br/planejamento/plano-plurianual/ppa-2016-2019/regiao-noroeste-encontro-em-colinas-do-tocantins/" target="_blank">

                                <ul class="timeline-panel-ul">
                                    <li>
                                        <span class="importo">Bico do Papagaio - Tocantinópolis</span></li>
                                        <li><span class="causale">
                                        <p>&nbsp;</p>
                                            <div class="col-md-6 text-center tileBox">
                   <div class="txtHead"> 
                       <a href="http://ppa.seplan.to.gov.br/web/document/2.pdf" target="_blank"><i class="fa fa fa-file fa-5x"></i>
                           <h3>Relatório</h3></div>
                       </a>
                   </div>
                   <div class="col-md-6 text-center tileBox">
                   <div class="txtHead"> 
                       <a href="http://seplan.to.gov.br/planejamento/plano-plurianual/ppa-2016-2019/regiao-do-bico-do-papagaio-encontro-emtocantinopolis/fotos/" target="_blank"><i class="fa fa fa-camera fa-5x"></i>
                           <h3>Fotos</h3></div>
                       </a>
                   </div>
                   

                   <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="causale">
                                        <div class="col-md-6">            
                                            <iframe width="100%" height="180px" src="https://www.youtube.com/embed/nzDyuheZ24E?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                        <div class="col-md-6">            
                                            <iframe width="100%" height="180px" src="https://www.youtube.com/embed/Pn5jiZNqCQA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                        <div class="clearfix"></div>
                                    </span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--due -->


        <div class="row timeline-movement">

            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">31</span>
                <span class="timeline-balloon-date-month">AGO</span>
            </div>


            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <a href="http://seplan.to.gov.br/planejamento/plano-plurianual/ppa-2016-2019/regiao-norte-encontro-em-xambioa/" target="_blank">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">Região Norte - Xambioá </span></li>
                                    <li><span class="causale">
                                        <p>&nbsp;</p>
                                            <div class="col-md-6 text-center tileBox">
                   <div class="txtHead"> 
                       <a href="http://ppa.seplan.to.gov.br/web/document/3.pdf" target="_blank"><i class="fa fa fa-file fa-5x"></i>
                           <h3>Relatório</h3></div>
                       </a>
                   </div>
                   <div class="col-md-6 text-center tileBox">
                   <div class="txtHead"> 
                       <a href="http://seplan.to.gov.br/planejamento/plano-plurianual/ppa-2016-2019/regiao-norte-encontro-em-xambioa/fotos/" target="_blank"><i class="fa fa fa-camera fa-5x"></i>
                           <h3>Fotos</h3></div>
                       </a>
                   </div>
                   

                   <div class="clearfix"></div>
                                    </span></li>
                                </ul>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">
                                    <div class="col-md-6">            
                                        <iframe width="100%" height="180px" src="https://www.youtube.com/embed/CFl3w_jCaMg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="col-md-6">            
                                        <iframe width="100%" height="180px" src="https://www.youtube.com/embed/19gxo2f2q7Y?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="clearfix"></div>
                                </span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row timeline-movement">

        <div class="timeline-badge">
            <span class="timeline-balloon-date-day">03</span>
            <span class="timeline-balloon-date-month">SET</span>
        </div>


        <div class="col-sm-6  timeline-item">
            <div class="row">
                <div class="col-sm-11">
                    <div class="timeline-panel credits">
                        <a href="http://seplan.to.gov.br/planejamento/plano-plurianual/ppa-2016-2019/regiao-sudeste-encontro-em-natividade/" target="_blank">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Região Sudeste - Natividade</span></li>
                                <li><span class="causale">
                                    <p>&nbsp;</p>
                                            <div class="col-md-6 text-center tileBox">
                   <div class="txtHead"> 
                       <a href="http://ppa.seplan.to.gov.br/web/document/4.pdf" target="_blank"><i class="fa fa fa-file fa-5x"></i>
                           <h3>Relatório</h3></div>
                       </a>
                   </div>
                   <div class="col-md-6 text-center tileBox">
                   <div class="txtHead"> 
                       <i class="fa fa fa-camera fa-5x"></i>
                           <h3>Fotos</h3></div>
                       
                   </div>
                   

                   <div class="clearfix"></div>
                                 </span></li>
                            </ul>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-6  timeline-item">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-11">
                    <div class="timeline-panel debits">
                        <ul class="timeline-panel-ul">
                            <li><span class="causale">
                                <div class="col-md-6">            
                                    <iframe width="100%" height="180px" src="https://www.youtube.com/embed/3W-i1vX7ZKM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="col-md-6">            
                                    <iframe width="100%" height="180px" src="https://www.youtube.com/embed/1Dmt8lMVM0Y?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="clearfix"></div>
                            </span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">21</span>
        <span class="timeline-balloon-date-month">SET</span>
    </div>


    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <a href="http://seplan.to.gov.br/planejamento/plano-plurianual/ppa-2016-2019/regiao-sul-encontro-em-palmeiropolis/" target="_blank">
                        <ul class="timeline-panel-ul">
                            <li><span class="importo">Região Sul - Palmeirópolis</span></li>
                            <li><span class="causale">

                                <p>&nbsp;</p>
                                            <div class="col-md-6 text-center tileBox">
                   <div class="txtHead"> 
                       <a href="http://ppa.seplan.to.gov.br/web/document/5.pdf" target="_blank"><i class="fa fa fa-file fa-5x"></i>
                           <h3>Relatório</h3></div>
                       </a>
                   </div>
                   <div class="col-md-6 text-center tileBox">
                   <div class="txtHead"> 
                       <i class="fa fa fa-camera fa-5x"></i>
                           <h3>Fotos</h3></div>
                   </div>
                   

                   <div class="clearfix"></div>
                            </span></li>
                        </ul>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="causale">
                            <div class="col-md-6">            
                                <iframe width="100%" height="180px" src="https://www.youtube.com/embed/biaGDz6KWC8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="col-md-6">            
                                <iframe width="100%" height="180px" src="https://www.youtube.com/embed/iT_KpUZ1S4o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="clearfix"></div>
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
</div>

<div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">25</span>
        <span class="timeline-balloon-date-month">SET</span>
    </div>


    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <a href="http://seplan.to.gov.br/planejamento/plano-plurianual/ppa-2016-2019/regiao-nordeste-encontro-em-pedro-afonso/" target="_blank">
                        <ul class="timeline-panel-ul">
                            <li><span class="importo">Região Nordeste - Pedro Afonso</span></li>
                            <li><span class="causale">
                                <p>&nbsp;</p>
                                            <div class="col-md-6 text-center tileBox">
                   <div class="txtHead"> 
                       <a href="http://ppa.seplan.to.gov.br/web/document/6.pdf" target="_blank"><i class="fa fa fa-file fa-5x"></i>
                           <h3>Relatório</h3></div>
                       </a>
                   </div>
                   <div class="col-md-6 text-center tileBox">
                   <div class="txtHead"> 
                       <a href="http://seplan.to.gov.br/planejamento/plano-plurianual/ppa-2016-2019/regiao-nordeste-encontro-em-pedro-afonso/fotos/" target="_blank"><i class="fa fa fa-camera fa-5x"></i>
                           <h3>Fotos</h3></div>
                       </a>
                   </div>
                   

                   <div class="clearfix"></div>
                             </span></li>
                        </ul>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="causale">
                            <div class="col-md-6">            
                                <iframe width="100%" height="180px" src="https://www.youtube.com/embed/6IPD9Ut3_h8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="col-md-6">            
                                <iframe width="100%" height="180px" src="https://www.youtube.com/embed/_FCuL-MlHPw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="clearfix"></div>
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
</div>

<div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">28</span>
        <span class="timeline-balloon-date-month">SET</span>
    </div>


    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <a href="http://seplan.to.gov.br/planejamento/plano-plurianual/ppa-2016-2019/regiao-noroeste-encontro-em-colinas-do-tocantins/" target="_blank">
                        <ul class="timeline-panel-ul">
                            <li><span class="importo">Região Noroeste - Colinas</span></li>
                            <li><span class="causale">
                                <p>&nbsp;</p>
                                            <div class="col-md-6 text-center tileBox">
                   <div class="txtHead"> 
                       <a href="http://ppa.seplan.to.gov.br/web/document/7.pdf" target="_blank"><i class="fa fa fa-file fa-5x"></i>
                           <h3>Relatório</h3></div>
                       </a>
                   </div>
                   <div class="col-md-6 text-center tileBox">
                   <div class="txtHead"> 
                       <a href="http://seplan.to.gov.br/planejamento/plano-plurianual/ppa-2016-2019/regiao-noroeste-encontro-em-colinas-do-tocantins/fotos/" target="_blank"><i class="fa fa fa-camera fa-5x"></i>
                           <h3>Fotos</h3></div>
                       </a>
                   </div>
                   

                   <div class="clearfix"></div>
                             </span></li>
                        </ul>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="causale">
                            <div class="col-md-6">            
                                <iframe width="100%" height="180px" src="https://www.youtube.com/embed/iLVzSaaILG8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="col-md-6">            
                                <iframe width="100%" height="180px" src="https://www.youtube.com/embed/LSfbtJh3XTI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="clearfix"></div>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">16</span>
        <span class="timeline-balloon-date-month">OUT</span>
    </div>


    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <a href="#" target="_blank">
                        <ul class="timeline-panel-ul">
                            <li><span class="importo">Região Central e Jalapão - Aparecida do Rio Negro</span></li>
                            <li><span class="causale">Encontro Regional será realizado na cidade de Aparecida do Rio Negro </span></li>
                        </ul>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Veja os Vídeos</span></li>
                        <li><span class="causale">Em breve os Vídeos da Região </span></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">19</span>
        <span class="timeline-balloon-date-month">OUT</span>
    </div>


    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <a href="#" target="_blank">
                        <ul class="timeline-panel-ul">
                            <li><span class="importo">Região Centro-Oeste - Lagoa da Confusão</span></li>
                            <li><span class="causale">Encontro Regional será realizado na cidade de Lagoa da Confusão </span></li>
                        </ul>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <a href="#" target="_blank">
                        <ul class="timeline-panel-ul">
                            <li><span class="importo">Veja os Vídeos</span></li>
                            <li><span class="causale">Em breve os Vídeos da Região </span></li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>

</section>
<!--Quote-->
            <section id="quote" class="bg-parlex">
                <div class="parlex-back">
                    <div class="container secPad text-center">
                        <h2>"É um exercício de democracia com ampla participação popular nas futuras ações do Governo".</h2><h3>- Marcelo Miranda</h3>
                    </div>
                    <!--/.container-->
                </div>
            </section>
<!--Skills-->
            <section id="skills" class="secPad white">
             <div class="container">
                <div class="heading text-center">
                    <!-- Heading -->
                    <h2>Mapa do PPA</h2>
                    <img src="/site/images/mapa.jpg" width="100%">
                </div>
                <div class="row">
                </div>
            </div>        
        </section>

<!--Portfolio-->


<!--Contact -->

<a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>
<script type="text/javascript">
    document.write('<iframe id="barra-base" src="http://barra.to.gov.br/base.php?" frameborder="no" scrolling="no" width="100%" height="1000px"></iframe>');

    var iframeBarraBase = document.getElementById('barra-base');

    function postBarraBase(data)
    {
        iframeBarraBase.contentWindow.postMessage(data, '//barra.to.gov.br/');
    }
</script>
<!--[if lte IE 8]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><![endif]-->
<script src="/site/js/modernizr-latest.js"></script>
<script src="/site/js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="/site/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/site/js/jquery.isotope.min.js" type="text/javascript"></script>
<script src="/site/js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="/site/js/jquery.nav.js" type="text/javascript"></script>
<script src="/site/js/jquery.cslider.js" type="text/javascript"></script>
<script src="/site/js/custom.js" type="text/javascript"></script>
<script src="/site/js/owl-carousel/owl.carousel.js"></script>
</body>
</html>
