<%= form_for(@vote, remote:true) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :reply do |b| %>
    <%= b.text_field :title, value:params[:title],class:"well bg-white  strong text-center", style:"width:100%;font-size:15px;", placeholder:"Título do Desafio" %>
    <%= b.text_area :description, class:"well bg-white  strong text-center", style:"width:100%;font-size:15px;", placeholder:"Descrição do Desafio" %>
    <%= b.select :subtheme_id, @subthemes, {}, {class:"well bg-white strong text-center", style:"width:100%;font-size:15px;"} %>
    <%= b.hidden_field :question_id, value: params[:question_id] %>
  <% end %>
  <%= f.hidden_field :value, value: 0,  class:"well bg-white  strong text-center", style:"width:100%;font-size:15px;", placeholder:"Quantidade de Votos" %>
  <%= f.hidden_field :votoplenaria, value: 0,  class:"well bg-white  strong text-center", style:"width:100%;font-size:15px;" %>
 
    <%= f.hidden_field :theme_id %>
    <%= f.hidden_field :event_id %>
  <div class="actions">
    <%= f.submit "Inserir Desafio", class:"btn btn-lg btn-success btn-block" %>
  </div>
<% end %>
