$("#modal").modal('hide');
swal("Ok!", "Desafio Inserido com Sucesso", "success");
$("#replies_question_<%= @vote.reply.question.id  %>").html("<%= escape_javascript(render partial:'home/event_results', locals:{event:@vote.event, theme:@vote.theme, question:@vote.reply.question}) %>")
$("#replies_<%= @vote.reply.question.id  %>").html("<%= escape_javascript(render partial:'home/replies_questions', locals:{event:@vote.event, theme:@vote.theme, question:@vote.reply.question}) %>")
$(".keyup").val("")