<h1>Listing votes</h1>

<table>
  <thead>
    <tr>
      <th>Reply</th>
      <th>Subtheme</th>
      <th>Event</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.reply %></td>
        <td><%= vote.subtheme %></td>
        <td><%= vote.event %></td>
        <td><%= vote.value %></td>
        <td><%= link_to 'Show', vote %></td>
        <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
        <td><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_vote_path %>
