<p id="notice"><%= notice %></p>

<p>
  <strong>Reply:</strong>
  <%= @vote.reply %>
</p>

<p>
  <strong>Subtheme:</strong>
   
  <%= @vote.reply.subtheme if @vote.reply.subtheme.present? %>
  
</p>

<p>
  <strong>Event:</strong>
  <%= @vote.event.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @vote.value %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
