<%= content_for :head do  %>
<script type="text/javascript">
        window.addEventListener('message', function(e) {
            eval(e.data);
        //console.log('página recebeu:' + e.data);
    });

        document.write('<iframe id="barra-topo" src="http://barra.to.gov.br/topo.php?seplan.to.gov.br" frameborder="no" scrolling="no" width="100%" height="172px"></iframe>');
        document.write('<style>.traste, .traste * { background: black !important; color:white !important; border-color: #333; }</style>');

        var iframeBarraTopo = document.getElementById('barra-topo');
        iframeBarraTopo.addEventListener('load', function(){
        //iframeBarraTopo.contentWindow.postMessage('hi', '//barra.to.gov.br/');
    });


        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-3856738-73', 'auto');
        ga('send', 'pageview');

        ga('create', 'UA-3856738-47', 'auto', {'name': 'newTracker'});
        ga('newTracker.send', 'pageview');
    </script>
<% end %>
<%= form_tag(url_for(params), method: :get) do %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget media margin-none bg-gray ">
      <a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-settings-wheel-fill fa-5x"></i></a>
      <div class="media-body innerAll">
        <h4 class="media-heading innerT"> Identifique o Certificado</h4>                     
        <p>Informe os dados solicitados</p>
      </div>
      <div class="widget-body bg-white">
        <div class="field">
          <%= label :name, "Evento" %>
          <%= select_tag :event, options_from_collection_for_select(Event.all, 'id', 'name'), class:"form-control"  %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
        	<%= label :name, "CPF" %>
          	<%= text_field_tag :cpf, nil, class:"form-control"  %>
          <p>&nbsp;</p>
        </div>
        <div class="col-md-12 innerAll inner-2x">   
          <%= submit_tag  "Visualizar", class:"btn btn-lg btn-success btn-block" %>  
        </div>
      </div>  
    </div>
  </div>
</div>
<p>&nbsp;</p>
<% end %>