<div class="center">	
	<img src="" width="90%">
	<p>&nbsp;</p>
	<div class="jumbotron margin-none center">
		<h1 class="separator bottom strong" style=" font-size: 200%">Relatório <%= @event.name  %></h1>
	</div>
</div>
<div class="page-break"></div>
<div class="widget innerAll inner-2x">	
	<h1>Oficinas</h1>
	<p><%= @event.total_subscribers %> pessoas se credenciaram para participar das oficinas na cidade de <%= @event.place  %>. Foi solicitado à elas que elencassem as demandas e desafios regionais.</p>
	<p>Após elencados os desafios, os próprios participantes votaram para priorizar as 5 demandas mais importantes da região, e sugerir, a solução em forma de ação para resolver o desafio e demanda apresentada. </p>
</div>
<div class="page-break"></div>
<% Theme.all.each do |theme|  %>
<p>&nbsp;</p><p>&nbsp;</p>
<div class="widget">
	<div class="widget-body padding-none">
		<div class="jumbotron margin-none center bg-<%= theme.color  %>">
			<h1 class="separator bottom text-white"><%= theme  %></h1>
		</div>
	</div>
</div>
<div class="widget">
	<div class="widget-head">
		<h4 class="heading">Demandas Apresentadas</h4>
	</div>
	<div class="widget-body">
		<p>Os participantes apresentaram as seguintes demandas para a região:</p>
		<ul class="innerAll inner-2x">
		<% @questions.each do |question| %>	
			<% question.votes.where(theme:theme).where(event:@event).each do |vote|  %>
			<li><%= vote.reply  %> (<%= vote.value  %> votos) </li>
		<% end %>
		<% end %>
		</ul>
	</div>
</div>
<div class="widget">
	<div class="widget-head">
		<h4 class="heading">Demandas Priorizadas</h4>
	</div>
	<div class="widget-body">
		<p>Na oficina, os participantes após votação, priorizaram as seguintes demandas, sugerindo as respectivas soluções:</p>
		<div class="innerAll inner-2x">
		<% @questions.each_with_index do |question, index| %>	
			<% question.votes_theme_ranking(theme, @event).each_with_index do |vote, index|  %>
				<h3><small><%= index +1  %> - <%= vote.reply  %> <small>(<%= vote.value  %> votos)</small></small></h3>
				<div class="widget innerAll inner-2x bg-gray">
				<strong>Descrição: </strong>
					<%= vote.reply.description  %>
				</div>
				<div class="widget innerAll inner-2x">
				<strong>Solução Proposta: </strong>
				<% vote.reply_deeds.group_by(&:deed).each do |deed, reply_deeds| %>
					<%= deed %> (<%= deed.description %>)			
				<% end %>
				</div>
		<% end %>
		<% end %>
		</div>
	</div>
</div>
<div class="page-break"></div>
<p>&nbsp;</p>
<div class="widget">
<div class="widget-head">
	<h4 class="heading">Ações Priorizadas:</h4 class="heading">
</div>
<div class="widget-body innerAll inner-2x bg-<%= theme.color  %>">
	<p>De acordo com as prioridades elencadas pela região, as ações ficaram assim priorizadas:</p>
	<ul class="innerAll inner-2x">
	<% @event.deed_ranking(theme).each.each_with_index do |ranking, index| %>
		<li class="text-white"><%= index + 1  %> - <%= ranking[:deed] %>
		</li>	
	<% end %>
	</ul>
</div>
</div>
<div class="page-break"></div>
<% end %>