<div class="center">	
	<img src="" width="90%">
	<p>&nbsp;</p>
	<div class="jumbotron margin-none center">
		<h1 class="separator bottom" style="">Relatório <%= @event.name  %></h1>
	</div>
</div>
<div class="page-break"></div>
<p>&nbsp;</p>
<h1>Introdução</h1>
<div class="page-break"></div>
<p>&nbsp;</p>
<h1>Credenciamento</h1>
<div class="widget widget-body-gray">
	<div class="widget-body padding-none">
		<div class="bg-success innerAll">
			<div class="text-large text-white pull-right"><%= @event.total_subscribers %></div>
			<h4 class="text-white strong text-medium">
				Inscritos no Total
			</h4>
			<div class="separator bottom"></div>
			<div class="progress primary progress-mini  margin-none">
				<div class="progress-bar progress-bar-white	" style="width: <%= @event.percent_subscribers  %>%;"></div>
			</div>
		</div>
	</div>
</div>
<p>A consulta foi realizada no dia <%= @event.date  %> em <%= @event.place %> com a presença de <%= @event.total_subscribers  %> participantes credenciados para as salas temáticas.</p>
<div class="row">
	<% @themes.each do |list|  %>
	<div class="widget media margin-none">
		<%= link_to list[:theme], class:"pull-left bg-#{list[:theme].color} innerAll text-center text-white" do %>
		<i class="fa fa-fw <%= list[:theme].icon  %> fa-5x"></i>
		<% end %>
		<div class="media-body innerAll">
			<h4 class="media-heading innerT">
				<%= link_to list[:theme].name, list[:theme], class:"text-inverse" %> 
			</h4>
			<%= list[:subscribers] %> inscritos
		</div>
	</div>
	<p>&nbsp;</p>
	<% end %>
</div>
*Um mesmo participante pode estar cadastrado em mais de um tema.
<div class="page-break"></div>
<p>&nbsp;</p>
<h1>Categorias</h1>
<% result = @event.people.distinct.group_by(&:category).each %>
<% result.each do |category, people| %>
<div class="col-md-4" style="width: 45%; float: left;">
	<!-- Widget -->
	<div class="widget widget-3">
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">
				<%= category.humanize || "Não Informado" %>
			</h4>
		</div>
		<!-- // Widget heading END -->
		<div class="widget-body large">
			<i class="fa fa.group"></i> <%= people.count %> pessoas
		</div>
	</div>
	<!-- // Widget END -->
</div>
<% end %>
<div class="page-break"></div>
<p>&nbsp;</p>
<h1>Municípios</h1>
<% result2 = @event.people.distinct.group_by(&:city).each %>
<% result2.each do |city, people| %>
<div class="col-xs-4" style="width: 45%; float: left;">
	<!-- Widget -->
	<div class="widget widget-3">
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">
				<%= city || "Não Informado" %>
			</h4>
		</div>
		<!-- // Widget heading END -->
		<div class="widget-body large">
			<i class="fa fa.group"></i> <%= people.count %> pessoas
		</div>
	</div>
	<!-- // Widget END -->
</div>
<% end %>
<div class="page-break"></div>
<% Theme.all.each do |theme|  %>
<div class="widget">
	<div class="widget-body padding-none">
		<div class="jumbotron margin-none center bg-<%= theme.color  %>">
			<h1 class="separator bottom text-white"><%= theme  %></h1>
		</div>
	</div>
</div>
<h1>Ranking dos Desafios:</h1>
<div class="innerAll inner-2x">
	<% @questions.each do |question| %>					
	<% question.votes_theme_ranking(theme, @event).each_with_index do |vote, index| %>
	<%= render partial:'home/votes_question_plenaria', locals:{index:index, vote:vote} %>
	<% end %>
</div>
<% end %>
<div class="page-break"></div>
<p>&nbsp;</p>
<h1>Ranking das Ações:</h1>
<div class="widget innerAll inner-2x bg-<%= theme.color  %>">
	<% @event.deed_ranking(theme).each.each_with_index do |ranking, index| %>
		<h2 class="text-white"><%= index + 1  %> - <%= ranking[:deed] %> </h2>
	<% end %>	
</div>
<div class="page-break"></div>
<% end %>