<%= content_for :head do  %>
<script type="text/javascript">
        window.addEventListener('message', function(e) {
            eval(e.data);
        //console.log('página recebeu:' + e.data);
    });

        document.write('<iframe id="barra-topo" src="http://barra.to.gov.br/topo.php?seplan.to.gov.br" frameborder="no" scrolling="no" width="100%" height="172px"></iframe>');
        document.write('<style>.traste, .traste * { background: black !important; color:white !important; border-color: #333; }</style>');

        var iframeBarraTopo = document.getElementById('barra-topo');
        iframeBarraTopo.addEventListener('load', function(){
        //iframeBarraTopo.contentWindow.postMessage('hi', '//barra.to.gov.br/');
    });


        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-3856738-73', 'auto');
        ga('send', 'pageview');

        ga('create', 'UA-3856738-47', 'auto', {'name': 'newTracker'});
        ga('newTracker.send', 'pageview');
    </script>
<% end %>
<div class="widget">
  <% @events.each do |event| %>
  <% if event.name != "Simulação" %>    

  <div class="bg-gray-hover overflow-hidden">
    <div class="row innerAll half border-bottom">

      <div class="col-sm-6 col-xs-8">
        <ul class="media-list margin-none">
          <li class="media">
            <a class="pull-left innerAll half " href="#">
              <span class="empty-photo">
                <i class="text-muted fa  fa-comments"></i>
              </span>
            </a>
            <div class="media-body">
              <div class="innerAll half">
                <h4 class="margin-none">       
                  <%= link_to event.name, web_document_path(event, format: :pdf)  %>               
                </h4>
                <div class="clearfix">                
                </div>
                 <small class="margin-none text-muted">Local: <%= event.place %></small>
              </div>
            </div>

          </li>
        </ul>
      </div>


      <div class="col-sm-3 col-xs-hidden margin-none">
        <div class="innerAll half">
          <div class="media">
            <div class="media-body ">
              <span class="text-small">Data:</span>
              <div class="clearfix"></div>
              <small><%= event.date  %></small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-hidden margin-none">
        <div class="innerAll half">
          <div class="media">
            <div class="media-body ">
              <%= link_to "Ver Relatório Geral", web_document_path(event, format: :pdf), class:"btn btn-success" ,target: :_blank %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<%= link_to "Apresentação da Plenária", web_presentation_path, class:"btn btn-info btn-lg btn-block", target: :_blank %>