<ul class="nav navbar-nav">

    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="">Credenciamento <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <%= link_to "Credenciar", credenciamento_path %>
            </li>
            <li>
                <%= link_to "Painel", painel_credenciamento_path %>
            </li>
            <li>
                <%= link_to "Participantes", people_path %>
            </li>
        </ul>
    </li>

    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="">Documentos <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <%= link_to "Listar", documents_path %>
            </li>
            <li>
                <%= link_to "Novo", new_document_path %>
            </li>
        </ul>
    </li>

    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="">Temas <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <%= link_to "Listar", themes_path %>
            </li>
            <li>
                <%= link_to "Novo", new_theme_path %>
            </li>
        </ul>
    </li>

    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="">Eventos <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <%= link_to "Listar", events_path %>
            </li>
            <li>
                <%= link_to "Novo", new_event_path %>
            </li>
        </ul>
    </li>

    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="">Perguntas <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <%= link_to "Listar", questions_path %>
            </li>
            <li>
                <%= link_to "Nova", new_question_path %>
            </li>
        </ul>
    </li>

    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="">Painel <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <%= link_to "Credenciamento", painel_credenciamento_path %>
            </li>
            <li>
                <%= link_to "Cidades", painel_cidades_path %>
            </li>
            <li>
                <%= link_to "Categorias", painel_categorias_path %>
            </li>
            <li>
                <%= link_to "Moderador", painel_moderador_path %>
            </li>
            <li>
                <%= link_to "Redator", painel_redator_path %>
            </li>
            <li>
                <%= link_to "Participantes", lista_participantes_path %>
            </li>
            <li>
                <%= link_to "Plenária",plenaria_path %>
            </li>
            <li>
                <%= link_to "Relatório Evento",relatorio_evento_path %>
            </li>
          <li>
            <%= link_to "Votação Final", painel_votacao_final_path %>
          </li>
        </ul>
    </li>

</ul>