<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 "> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 "> <![endif]-->
<!--[if gt IE 8]> <html class="ie "> <![endif]-->
<!--[if !IE]><!-->
<html class="">
<!-- <![endif]-->
<head>
    <title>PPA  - <%= yield :title || "2020/2023" %></title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

<%= wicked_pdf_stylesheet_link_tag "/mosaicpro/css/admin/module.admin.stylesheet-complete.sidebar_type.no-sidebar_pdf.min.css"  %>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <style type="text/css">
        .navbar{
            background: url('/bg_geometric.png');
        }
        .bg-to{
            background: url('/bg_geometric.png');
        }
        #notyfy_container_top{
            top:50px;
        }
        .page-break { display:block; clear:both; page-break-after:always; page-break-before: always; page-break-inside:avoid !important; }

    </style>
</head>
<body class="" style="display: block;">p
    <!-- Main Container Fluid -->
    <div class="menu-hidden">
        <!-- Content -->
        <div id="content" style="top:-50px; position:relative">    
            <div class="row innerAll inner-2x">   
                <%= yield  %> 
            </div>
        </div>

    </div>
    <!-- // Content END -->
</div>
<!-- // Container END -->
<!-- // Sidebar menu & content wrapper END -->
<!-- // Footer END -->
</div>
<!-- // Main Container Fluid END -->
<!-- Global -->
<script data-id="App.Config">
    var App = {};
    var basePath = '',
    commonPath = '/mosaicpro/',
    rootPath = '../',
    DEV = false,
    componentsPath = '/mosaicpro/components/';
    var primaryColor = '#3695d5',
    dangerColor = '#b55151',
    successColor = '#609450',
    infoColor = '#4a8bc2',
    warningColor = '#ab7a4b',
    inverseColor = '#45484d';
    var themerPrimaryColor = primaryColor; </script>
<%= yield :scripts  %>
